<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>arrowNW</key>
		<string>arrowN_W_.glif</string>
		<key>arrowSE</key>
		<string>arrowS_E_.glif</string>
		<key>arrowSW</key>
		<string>arrowS_W_.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>fhook</key>
		<string>fhook.glif</string>
		<key>ge-cy.loclBGR</key>
		<string>ge-cy.loclB_G_R_.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>guillemetright</key>
		<string>guillemetright.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>yacyr</key>
		<string>yacyr.glif</string>
		<key>yukrcyr.ss01</key>
		<string>yukrcyr.ss01.glif</string>
	</dict>
</plist>
