<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>arrowNW</key>
    <string>arrowN_W_.glif</string>
    <key>arrowSE</key>
    <string>arrowS_E_.glif</string>
    <key>arrowSW</key>
    <string>arrowS_W_.glif</string>
    <key>litre</key>
    <string>litre.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
  </dict>
</plist>
