<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,0.25,1,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1648605865.9 I_cyr.glif
1636123476.8 arrowN_W_.glif
1636123476.8 arrowS_E_.glif
1636123476.8 arrowS_W_.glif
1636123476.8 asciitilde.glif
1636123476.8 divide.glif
1636123476.8 fhook.glif
1643927144.2 ge-cy.loclB_G_R_.glif
1636123476.8 germandbls.glif
1636123476.8 guillemetright.glif
1636123476.8 guilsinglright.glif
1636123476.8 hungarumlautcmb.glif
1636123476.8 litre.glif
1636123476.8 logicalnot.glif
1636123476.8 mu.math.glif
1636123476.8 plusminus.glif
1636123476.8 radical.glif
1638203364.5 yacyr.glif
1648605865.9 yukrcyr.ss01.glif</string>
		</dict>
	</dict>
</plist>
