<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>acutecomb</key>
		<string>acutecomb.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>cedillacomb</key>
		<string>cedillacomb.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>gravecomb</key>
		<string>gravecomb.glif</string>
		<key>hookabovecmb</key>
		<string>hookabovecmb.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>ringcomb</key>
		<string>ringcomb.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
	</dict>
</plist>
