<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern1.B</key>
		<array>
			<string>B</string>
		</array>
		<key>public.kern1.C</key>
		<array>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>C</string>
		</array>
		<key>public.kern1.D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
		</array>
		<key>public.kern1.E</key>
		<array>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
		</array>
		<key>public.kern1.F</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern2.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern2.B</key>
		<array>
			<string>B</string>
		</array>
		<key>public.kern2.C</key>
		<array>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>C</string>
		</array>
		<key>public.kern2.D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
		</array>
		<key>public.kern2.E</key>
		<array>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
		</array>
		<key>public.kern2.F</key>
		<array>
			<string>F</string>
		</array>
	</dict>
</plist>
