<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.KO_A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Acaron</string>
			<string>Acyr</string>
			<string>Abrevecyr</string>
			<string>Adieresiscyr</string>
			<string>Adotbelow</string>
			<string>Ahoi</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhoi</string>
			<string>Acircumflextilde</string>
			<string>Acircumflexdotbelow</string>
			<string>Abreveacute</string>
			<string>Abrevegrave</string>
			<string>Abrevehoi</string>
			<string>Abrevetilde</string>
			<string>Abrevedotbelow</string>
		</array>
		<key>public.kern1.KO_B</key>
		<array>
			<string>B</string>
			<string>Vecyr</string>
		</array>
		<key>public.kern1.KO_Becyr</key>
		<array>
			<string>Becyr</string>
		</array>
		<key>public.kern1.KO_C</key>
		<array>
			<string>C</string>
			<string>Estailcyr</string>
			<string>aiecyr</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
		</array>
		<key>public.kern1.KO_D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
		</array>
		<key>public.kern1.KO_Decyr</key>
		<array>
			<string>Decyr</string>
		</array>
		<key>public.kern1.KO_E</key>
		<array>
			<string>E</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>AE</string>
			<string>Iegravecyr</string>
			<string>Iocyr</string>
			<string>Iecyr</string>
			<string>Iebrevecyr</string>
			<string>AEacute</string>
			<string>Einvertedbreve</string>
			<string>Edotbelow</string>
			<string>Ehoi</string>
			<string>Etilde</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhoi</string>
			<string>Ecircumflextilde</string>
			<string>Ecircumflexdotbelow</string>
		</array>
		<key>public.kern1.KO_Efcyr</key>
		<array>
			<string>Thorn</string>
			<string>Efcyr</string>
			<string>izhitsacyr</string>
		</array>
		<key>public.kern1.KO_Elcyr</key>
		<array>
			<string>Djecyr</string>
			<string>Elcyr</string>
			<string>yatcyr</string>
		</array>
		<key>public.kern1.KO_Emcyr</key>
		<array>
			<string>ntilde</string>
			<string>nacute</string>
			<string>uni0146</string>
			<string>ncaron</string>
			<string>Emcyr</string>
		</array>
		<key>public.kern1.KO_Ereversedcyr</key>
		<array>
			<string>Ereversedcyr</string>
		</array>
		<key>public.kern1.KO_Escyr</key>
		<array>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Escyr</string>
		</array>
		<key>public.kern1.KO_F</key>
		<array>
			<string>F</string>
			<string>Tbar</string>
		</array>
		<key>public.kern1.KO_G</key>
		<array>
			<string>G</string>
			<string>Gbreve</string>
			<string>uni0122</string>
			<string>Gcircumflex</string>
			<string>Gdotaccent</string>
			<string>Gcaron</string>
		</array>
		<key>public.kern1.KO_Gecyr</key>
		<array>
			<string>Gjecyr</string>
			<string>Gecyr</string>
			<string>Geupcyr</string>
			<string>Engecyr</string>
		</array>
		<key>public.kern1.KO_H</key>
		<array>
			<string>H</string>
			<string>Encyr</string>
			<string>Hcircumflex</string>
		</array>
		<key>public.kern1.KO_I</key>
		<array>
			<string>I</string>
			<string>Iogonek</string>
			<string>Itilde</string>
			<string>Ihoi</string>
			<string>Idotbelow</string>
		</array>
		<key>public.kern1.KO_Iacute</key>
		<array>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Idotaccent</string>
			<string>Yukrcyr</string>
		</array>
		<key>public.kern1.KO_Iukrcyr</key>
		<array>
			<string>Iukrcyr</string>
		</array>
		<key>public.kern1.KO_J</key>
		<array>
			<string>J</string>
			<string>Oslashacute</string>
			<string>IJ</string>
			<string>Jcircumflex</string>
		</array>
		<key>public.kern1.KO_K</key>
		<array>
			<string>K</string>
			<string>uni0136</string>
			<string>Kjecyr</string>
			<string>Kacyr</string>
		</array>
		<key>public.kern1.KO_Katailcyr</key>
		<array>
			<string>Katailcyr</string>
		</array>
		<key>public.kern1.KO_L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>uni013B</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.KO_M</key>
		<array>
			<string>M</string>
		</array>
		<key>public.kern1.KO_N</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>uni0145</string>
			<string>Ncaron</string>
			<string>Igravecyr</string>
			<string>Icyr</string>
			<string>Ylongcyr</string>
			<string>Palochkacyr</string>
			<string>Imacroncyr</string>
			<string>Idieresiscyr</string>
			<string>Ylongdieresiscyr</string>
		</array>
		<key>public.kern1.KO_O</key>
		<array>
			<string>O</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>Ljecyr</string>
			<string>Ocyr</string>
			<string>Odieresiscyr</string>
			<string>Obarcyr</string>
			<string>Oogonek</string>
			<string>Oinvertedbreve</string>
			<string>Odotbelow</string>
			<string>Ohoi</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhoi</string>
			<string>Ocircumflextilde</string>
			<string>Ocircumflexdotbelow</string>
		</array>
		<key>public.kern1.KO_P</key>
		<array>
			<string>P</string>
			<string>Ercyr</string>
		</array>
		<key>public.kern1.KO_Q</key>
		<array>
			<string>Q</string>
		</array>
		<key>public.kern1.KO_R</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>uni0156</string>
			<string>Rcaron</string>
			<string>Rinvertedbreve</string>
		</array>
		<key>public.kern1.KO_S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
			<string>Dzecyr</string>
			<string>Aiecyr</string>
			<string>Scircumflex</string>
		</array>
		<key>public.kern1.KO_T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Tecyr</string>
		</array>
		<key>public.kern1.KO_Tsecyr</key>
		<array>
			<string>lslash</string>
			<string>Tsecyr</string>
			<string>yusbigcyr</string>
			<string>Chetailcyr</string>
		</array>
		<key>public.kern1.KO_U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Ucaron</string>
			<string>Utilde</string>
			<string>Udotbelow</string>
			<string>Uhoi</string>
		</array>
		<key>public.kern1.KO_Ucyr</key>
		<array>
			<string>Ushortcyr</string>
			<string>Ucyr</string>
			<string>Umacroncyr</string>
			<string>Udieresiscyr</string>
			<string>Uacutedblcyr</string>
		</array>
		<key>public.kern1.KO_V</key>
		<array>
			<string>V</string>
			<string>Izhitsacyr</string>
			<string>Ustraightcyr</string>
		</array>
		<key>public.kern1.KO_W</key>
		<array>
			<string>W</string>
			<string>Wecyr</string>
			<string>Wcircumflex</string>
			<string>Wgrave</string>
			<string>Wacute</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern1.KO_X</key>
		<array>
			<string>X</string>
			<string>Hacyr</string>
		</array>
		<key>public.kern1.KO_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Gestrokecyr</string>
			<string>Getailcyr</string>
			<string>Ycircumflex</string>
			<string>Ymacron</string>
			<string>Ygrave</string>
			<string>Ydotbelow</string>
			<string>Yhoi</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern1.KO_Z</key>
		<array>
			<string>Z</string>
			<string>Checyr</string>
			<string>Yacyr</string>
			<string>Chedieresiscyr</string>
		</array>
		<key>public.kern1.KO_Zecyr</key>
		<array>
			<string>Zecyr</string>
			<string>Zedieresiscyr</string>
			<string>oinvertedbreve</string>
		</array>
		<key>public.kern1.KO_Zhecyr</key>
		<array>
			<string>Zhecyr</string>
			<string>Zhebrevecyr</string>
			<string>Zhedieresiscyr</string>
		</array>
		<key>public.kern1.KO_a</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern1.KO_acyr</key>
		<array>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>acaron</string>
			<string>acyr</string>
			<string>abrevecyr</string>
			<string>adieresiscyr</string>
			<string>adotbelow</string>
			<string>ahoi</string>
			<string>acircumflexacute</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhoi</string>
			<string>acircumflextilde</string>
			<string>acircumflexdotbelow</string>
			<string>abreveacute</string>
			<string>abrevegrave</string>
			<string>abrevehoi</string>
			<string>abrevetilde</string>
			<string>abrevedotbelow</string>
		</array>
		<key>public.kern1.KO_asterisk</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>public.kern1.KO_b</key>
		<array>
			<string>b</string>
		</array>
		<key>public.kern1.KO_becyr</key>
		<array>
			<string>becyr</string>
		</array>
		<key>public.kern1.KO_bracketleft</key>
		<array>
			<string>bracketleft</string>
		</array>
		<key>public.kern1.KO_c</key>
		<array>
			<string>c</string>
			<string>escyr</string>
			<string>cdotaccent</string>
		</array>
		<key>public.kern1.KO_ccedilla</key>
		<array>
			<string>OE</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
		</array>
		<key>public.kern1.KO_checyr</key>
		<array>
			<string>checyr</string>
		</array>
		<key>public.kern1.KO_chetailcyr</key>
		<array>
			<string>chetailcyr</string>
		</array>
		<key>public.kern1.KO_d</key>
		<array>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>d</string>
		</array>
		<key>public.kern1.KO_dcroat</key>
		<array>
			<string>icircumflex</string>
			<string>dcroat</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorngrave</string>
			<string>Uhornhoi</string>
			<string>Uhorntilde</string>
			<string>Uhorndotbelow</string>
		</array>
		<key>public.kern1.KO_decyr</key>
		<array>
			<string>decyr</string>
		</array>
		<key>public.kern1.KO_djecyr</key>
		<array>
			<string>djecyr</string>
		</array>
		<key>public.kern1.KO_e</key>
		<array>
			<string>e</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>iecyr</string>
			<string>iebrevecyr</string>
			<string>einvertedbreve</string>
			<string>edotbelow</string>
			<string>ehoi</string>
			<string>etilde</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhoi</string>
			<string>ecircumflextilde</string>
			<string>ecircumflexdotbelow</string>
		</array>
		<key>public.kern1.KO_efcyr</key>
		<array>
			<string>efcyr</string>
			<string>Yatcyr</string>
		</array>
		<key>public.kern1.KO_elcyr</key>
		<array>
			<string>lacute</string>
			<string>uni013C</string>
			<string>elcyr</string>
		</array>
		<key>public.kern1.KO_emcyr</key>
		<array>
			<string>emcyr</string>
		</array>
		<key>public.kern1.KO_encyr</key>
		<array>
			<string>encyr</string>
		</array>
		<key>public.kern1.KO_entailcyr</key>
		<array>
			<string>zhetailcyr</string>
			<string>Entailcyr</string>
			<string>entailcyr</string>
		</array>
		<key>public.kern1.KO_ereversedcyr</key>
		<array>
			<string>ereversedcyr</string>
		</array>
		<key>public.kern1.KO_eukrcyr</key>
		<array>
			<string>tbar</string>
			<string>eukrcyr</string>
		</array>
		<key>public.kern1.KO_f</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.KO_g</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>uni0123</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>gcaron</string>
		</array>
		<key>public.kern1.KO_gecyr</key>
		<array>
			<string>gecyr</string>
			<string>gjecyr</string>
			<string>gestrokecyr</string>
			<string>engecyr</string>
			<string>getailcyr</string>
		</array>
		<key>public.kern1.KO_gehookcyr</key>
		<array>
			<string>Shchacyr</string>
			<string>gehookcyr</string>
		</array>
		<key>public.kern1.KO_germandbls</key>
		<array>
			<string>Omega</string>
			<string>germandbls</string>
			<string>Zetailcyr</string>
			<string>ustraightstrokecyr</string>
		</array>
		<key>public.kern1.KO_guillemetleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemetleft</string>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.KO_guillemetright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemetright</string>
		</array>
		<key>public.kern1.KO_h</key>
		<array>
			<string>h</string>
			<string>hcircumflex</string>
		</array>
		<key>public.kern1.KO_hardcyr</key>
		<array>
			<string>hardcyr</string>
		</array>
		<key>public.kern1.KO_hyphen</key>
		<array>
			<string>hyphen</string>
		</array>
		<key>public.kern1.KO_i</key>
		<array>
			<string>i</string>
			<string>iogonek</string>
			<string>ihoi</string>
			<string>idotbelow</string>
		</array>
		<key>public.kern1.KO_iacute</key>
		<array>
			<string>igrave</string>
			<string>iacute</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>yukrcyr</string>
		</array>
		<key>public.kern1.KO_icyr</key>
		<array>
			<string>Tshecyr</string>
			<string>icyr</string>
			<string>ishortcyr</string>
			<string>igravecyr</string>
			<string>imacroncyr</string>
			<string>idieresiscyr</string>
		</array>
		<key>public.kern1.KO_iocyr</key>
		<array>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Ecaron</string>
			<string>pi</string>
			<string>iegravecyr</string>
			<string>iocyr</string>
		</array>
		<key>public.kern1.KO_iukrcyr</key>
		<array>
			<string>idotless</string>
			<string>iukrcyr</string>
		</array>
		<key>public.kern1.KO_j</key>
		<array>
			<string>j</string>
			<string>ij</string>
		</array>
		<key>public.kern1.KO_jecyr</key>
		<array>
			<string>jecyr</string>
		</array>
		<key>public.kern1.KO_k</key>
		<array>
			<string>k</string>
			<string>uni0137</string>
			<string>kra</string>
		</array>
		<key>public.kern1.KO_kabashkcyr</key>
		<array>
			<string>kabashkcyr</string>
		</array>
		<key>public.kern1.KO_kacyr</key>
		<array>
			<string>kacyr</string>
			<string>kjecyr</string>
		</array>
		<key>public.kern1.KO_katailcyr</key>
		<array>
			<string>katailcyr</string>
		</array>
		<key>public.kern1.KO_l</key>
		<array>
			<string>l</string>
		</array>
		<key>public.kern1.KO_m</key>
		<array>
			<string>m</string>
		</array>
		<key>public.kern1.KO_n</key>
		<array>
			<string>n</string>
		</array>
		<key>public.kern1.KO_o</key>
		<array>
			<string>o</string>
			<string>otilde</string>
			<string>ohungarumlaut</string>
			<string>ocyr</string>
			<string>oogonek</string>
			<string>odotbelow</string>
			<string>ohoi</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflextilde</string>
		</array>
		<key>public.kern1.KO_oacute</key>
		<array>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>eth</string>
			<string>odieresiscyr</string>
		</array>
		<key>public.kern1.KO_obarcyr</key>
		<array>
			<string>thorn</string>
			<string>Softcyr</string>
			<string>obarcyr</string>
		</array>
		<key>public.kern1.KO_oe</key>
		<array>
			<string>oe</string>
			<string>Ldot</string>
			<string>zetailcyr</string>
			<string>Shhacyr</string>
		</array>
		<key>public.kern1.KO_oslash</key>
		<array>
			<string>Eth</string>
			<string>Dcroat</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorngrave</string>
			<string>ohornhoi</string>
			<string>ohorntilde</string>
			<string>ohorndotbelow</string>
		</array>
		<key>public.kern1.KO_p</key>
		<array>
			<string>p</string>
			<string>ercyr</string>
		</array>
		<key>public.kern1.KO_parenleft</key>
		<array>
			<string>parenleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern1.KO_parenright</key>
		<array>
			<string>parenright</string>
		</array>
		<key>public.kern1.KO_pecyr</key>
		<array>
			<string>pecyr</string>
		</array>
		<key>public.kern1.KO_period</key>
		<array>
			<string>period</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern1.KO_q</key>
		<array>
			<string>q</string>
			<string>shacyr</string>
		</array>
		<key>public.kern1.KO_question</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern1.KO_quotedbl</key>
		<array>
			<string>bracketangleleft</string>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern1.KO_quotedblbase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>comma</string>
			<string>backslash</string>
		</array>
		<key>public.kern1.KO_quotedblleft</key>
		<array>
			<string>quotedblleft</string>
		</array>
		<key>public.kern1.KO_quoteleft</key>
		<array>
			<string>quoteleft</string>
		</array>
		<key>public.kern1.KO_quoteright</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern1.KO_r</key>
		<array>
			<string>r</string>
			<string>uni0157</string>
			<string>rinvertedbreve</string>
		</array>
		<key>public.kern1.KO_s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>scommaaccent</string>
			<string>dzecyr</string>
			<string>scircumflex</string>
		</array>
		<key>public.kern1.KO_schwacyr</key>
		<array>
			<string>Njecyr</string>
			<string>schwacyr</string>
		</array>
		<key>public.kern1.KO_shchacyr</key>
		<array>
			<string>shchacyr</string>
		</array>
		<key>public.kern1.KO_shhacyr</key>
		<array>
			<string>shhacyr</string>
		</array>
		<key>public.kern1.KO_slash</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern1.KO_softcyr</key>
		<array>
			<string>softcyr</string>
			<string>ljecyr</string>
			<string>njecyr</string>
		</array>
		<key>public.kern1.KO_t</key>
		<array>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern1.KO_tecyr</key>
		<array>
			<string>tecyr</string>
		</array>
		<key>public.kern1.KO_tsecyr</key>
		<array>
			<string>tsecyr</string>
		</array>
		<key>public.kern1.KO_u</key>
		<array>
			<string>u</string>
			<string>uogonek</string>
			<string>utilde</string>
			<string>udotbelow</string>
			<string>uhoi</string>
		</array>
		<key>public.kern1.KO_uacute</key>
		<array>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>ucaron</string>
			<string>Yucyr</string>
		</array>
		<key>public.kern1.KO_uhorn</key>
		<array>
			<string>geupcyr</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorngrave</string>
			<string>uhornhoi</string>
			<string>uhorntilde</string>
			<string>uhorndotbelow</string>
		</array>
		<key>public.kern1.KO_ustraightcyr</key>
		<array>
			<string>ustraightcyr</string>
		</array>
		<key>public.kern1.KO_v</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern1.KO_vecyr</key>
		<array>
			<string>vecyr</string>
		</array>
		<key>public.kern1.KO_w</key>
		<array>
			<string>w</string>
			<string>wecyr</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern1.KO_x</key>
		<array>
			<string>x</string>
			<string>hacyr</string>
		</array>
		<key>public.kern1.KO_xatailcyr</key>
		<array>
			<string>xatailcyr</string>
		</array>
		<key>public.kern1.KO_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>eng</string>
			<string>ucyr</string>
			<string>ushortcyr</string>
			<string>umacroncyr</string>
			<string>udieresiscyr</string>
			<string>uacutedblcyr</string>
			<string>ycircumflex</string>
			<string>ymacron</string>
			<string>ygrave</string>
			<string>ydotbelow</string>
			<string>yhoi</string>
			<string>ytilde</string>
		</array>
		<key>public.kern1.KO_yacyr</key>
		<array>
			<string>yacyr</string>
			<string>ocircumflexdotbelow</string>
		</array>
		<key>public.kern1.KO_ylongcyr</key>
		<array>
			<string>ae</string>
			<string>ylongcyr</string>
			<string>ylongdieresiscyr</string>
		</array>
		<key>public.kern1.KO_yucyr</key>
		<array>
			<string>Hardcyr</string>
			<string>yucyr</string>
			<string>schwa</string>
		</array>
		<key>public.kern1.KO_z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
		</array>
		<key>public.kern1.KO_zecyr</key>
		<array>
			<string>zecyr</string>
			<string>zedieresiscyr</string>
			<string>aeacute</string>
		</array>
		<key>public.kern1.KO_zhecyr</key>
		<array>
			<string>zhecyr</string>
			<string>zhedieresiscyr</string>
		</array>
		<key>public.kern2.KO_B</key>
		<array>
			<string>B</string>
			<string>Vecyr</string>
		</array>
		<key>public.kern2.KO_Becyr</key>
		<array>
			<string>Becyr</string>
		</array>
		<key>public.kern2.KO_Checyr</key>
		<array>
			<string>Checyr</string>
		</array>
		<key>public.kern2.KO_Chetailcyr</key>
		<array>
			<string>Chetailcyr</string>
		</array>
		<key>public.kern2.KO_D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
			<string>F</string>
			<string>Tbar</string>
			<string>Pecyr</string>
			<string>Geupcyr</string>
			<string>Gehookcyr</string>
			<string>Palochkacyr</string>
			<string>Getailcyr</string>
			<string>Wecyr</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern2.KO_Decyr</key>
		<array>
			<string>Decyr</string>
			<string>ljecyr</string>
		</array>
		<key>public.kern2.KO_Dzhecyr</key>
		<array>
			<string>Dzhecyr</string>
		</array>
		<key>public.kern2.KO_Efcyr</key>
		<array>
			<string>Efcyr</string>
		</array>
		<key>public.kern2.KO_Emcyr</key>
		<array>
			<string>Emcyr</string>
		</array>
		<key>public.kern2.KO_Ereversedcyr</key>
		<array>
			<string>Ereversedcyr</string>
		</array>
		<key>public.kern2.KO_Gecyr</key>
		<array>
			<string>Gecyr</string>
		</array>
		<key>public.kern2.KO_H</key>
		<array>
			<string>H</string>
			<string>eth</string>
			<string>Njecyr</string>
			<string>Encyr</string>
			<string>Entailcyr</string>
			<string>Engecyr</string>
			<string>Hcircumflex</string>
			<string>Hbar</string>
		</array>
		<key>public.kern2.KO_I</key>
		<array>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>Iukrcyr</string>
			<string>Yukrcyr</string>
			<string>Itilde</string>
			<string>Ihoi</string>
			<string>Idotbelow</string>
		</array>
		<key>public.kern2.KO_Icyr</key>
		<array>
			<string>Icyr</string>
		</array>
		<key>public.kern2.KO_J</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.KO_Jecyr</key>
		<array>
			<string>Jecyr</string>
		</array>
		<key>public.kern2.KO_L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>uni013B</string>
			<string>Lcaron</string>
			<string>Ldot</string>
			<string>kacyr</string>
			<string>kjecyr</string>
			<string>katailcyr</string>
			<string>kra</string>
		</array>
		<key>public.kern2.KO_M</key>
		<array>
			<string>M</string>
		</array>
		<key>public.kern2.KO_O</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>O</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>Ocyr</string>
			<string>Escyr</string>
			<string>checyr</string>
			<string>Fitacyr</string>
			<string>Estailcyr</string>
			<string>chetailcyr</string>
			<string>Odieresiscyr</string>
			<string>Obarcyr</string>
			<string>chedieresiscyr</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ohorn</string>
			<string>Oogonek</string>
			<string>Oinvertedbreve</string>
			<string>Odotbelow</string>
			<string>Ohoi</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhoi</string>
			<string>Ocircumflextilde</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ohornacute</string>
			<string>Ohorngrave</string>
			<string>Ohornhoi</string>
			<string>Ohorntilde</string>
			<string>Ohorndotbelow</string>
		</array>
		<key>public.kern2.KO_P</key>
		<array>
			<string>P</string>
			<string>Ercyr</string>
		</array>
		<key>public.kern2.KO_Q</key>
		<array>
			<string>Q</string>
		</array>
		<key>public.kern2.KO_R</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>uni0156</string>
			<string>Rcaron</string>
			<string>Rinvertedbreve</string>
		</array>
		<key>public.kern2.KO_S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
			<string>Dzecyr</string>
			<string>ustraightstrokecyr</string>
			<string>Scircumflex</string>
		</array>
		<key>public.kern2.KO_Schwacyr</key>
		<array>
			<string>Schwacyr</string>
		</array>
		<key>public.kern2.KO_Shacyr</key>
		<array>
			<string>Shacyr</string>
		</array>
		<key>public.kern2.KO_Shchacyr</key>
		<array>
			<string>Shchacyr</string>
		</array>
		<key>public.kern2.KO_T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Tecyr</string>
		</array>
		<key>public.kern2.KO_U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Ucaron</string>
			<string>Chedieresiscyr</string>
			<string>Utilde</string>
			<string>Wcircumflex</string>
			<string>Uhorn</string>
			<string>Udotbelow</string>
			<string>Uhoi</string>
			<string>Uhornacute</string>
			<string>Uhorngrave</string>
			<string>Uhornhoi</string>
			<string>Uhorntilde</string>
			<string>Uhorndotbelow</string>
		</array>
		<key>public.kern2.KO_Ucyr</key>
		<array>
			<string>Ucyr</string>
		</array>
		<key>public.kern2.KO_Ushortcyr</key>
		<array>
			<string>Ushortcyr</string>
		</array>
		<key>public.kern2.KO_Ustraightstrokecyr</key>
		<array>
			<string>Ustraightstrokecyr</string>
		</array>
		<key>public.kern2.KO_V</key>
		<array>
			<string>V</string>
			<string>Djecyr</string>
			<string>Tshecyr</string>
			<string>Hardcyr</string>
			<string>Yatcyr</string>
			<string>Izhitsacyr</string>
			<string>Kabashkcyr</string>
		</array>
		<key>public.kern2.KO_W</key>
		<array>
			<string>W</string>
			<string>Wgrave</string>
			<string>Wacute</string>
		</array>
		<key>public.kern2.KO_X</key>
		<array>
			<string>X</string>
			<string>Hacyr</string>
			<string>zhecyr</string>
			<string>zhetailcyr</string>
			<string>Xatailcyr</string>
			<string>zhedieresiscyr</string>
		</array>
		<key>public.kern2.KO_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Ustraightcyr</string>
			<string>Ycircumflex</string>
			<string>Ymacron</string>
			<string>Ygrave</string>
			<string>Ydotbelow</string>
			<string>Yhoi</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern2.KO_Yacyr</key>
		<array>
			<string>Yacyr</string>
		</array>
		<key>public.kern2.KO_Yucyr</key>
		<array>
			<string>Yucyr</string>
		</array>
		<key>public.kern2.KO_Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern2.KO_Zecyr</key>
		<array>
			<string>Zecyr</string>
		</array>
		<key>public.kern2.KO_Zhecyr</key>
		<array>
			<string>Zhecyr</string>
			<string>Zhebrevecyr</string>
			<string>Zhedieresiscyr</string>
		</array>
		<key>public.kern2.KO_Zhetailcyr</key>
		<array>
			<string>Zhetailcyr</string>
		</array>
		<key>public.kern2.KO_a</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>acaron</string>
			<string>acyr</string>
			<string>abrevecyr</string>
			<string>adieresiscyr</string>
			<string>adotbelow</string>
			<string>ahoi</string>
			<string>acircumflexacute</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhoi</string>
			<string>acircumflextilde</string>
			<string>acircumflexdotbelow</string>
			<string>abreveacute</string>
			<string>abrevegrave</string>
			<string>abrevehoi</string>
			<string>abrevetilde</string>
			<string>abrevedotbelow</string>
		</array>
		<key>public.kern2.KO_ae</key>
		<array>
			<string>ae</string>
			<string>ereversedcyr</string>
		</array>
		<key>public.kern2.KO_b</key>
		<array>
			<string>b</string>
		</array>
		<key>public.kern2.KO_becyr</key>
		<array>
			<string>Lslash</string>
			<string>Eukrcyr</string>
			<string>becyr</string>
		</array>
		<key>public.kern2.KO_c</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>escyr</string>
			<string>estailcyr</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
		</array>
		<key>public.kern2.KO_colon</key>
		<array>
			<string>colon</string>
		</array>
		<key>public.kern2.KO_comma</key>
		<array>
			<string>comma</string>
		</array>
		<key>public.kern2.KO_d</key>
		<array>
			<string>G</string>
			<string>Gbreve</string>
			<string>uni0122</string>
			<string>d</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>ylongcyr</string>
			<string>ylongdieresiscyr</string>
			<string>Gdotaccent</string>
			<string>Gcaron</string>
		</array>
		<key>public.kern2.KO_decyr</key>
		<array>
			<string>decyr</string>
		</array>
		<key>public.kern2.KO_djecyr</key>
		<array>
			<string>germandbls</string>
			<string>djecyr</string>
			<string>tshecyr</string>
			<string>Gestrokecyr</string>
		</array>
		<key>public.kern2.KO_e</key>
		<array>
			<string>e</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>iecyr</string>
			<string>iegravecyr</string>
			<string>iocyr</string>
			<string>iebrevecyr</string>
			<string>einvertedbreve</string>
			<string>edotbelow</string>
			<string>ehoi</string>
			<string>etilde</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhoi</string>
			<string>ecircumflextilde</string>
			<string>ecircumflexdotbelow</string>
		</array>
		<key>public.kern2.KO_efcyr</key>
		<array>
			<string>efcyr</string>
		</array>
		<key>public.kern2.KO_elcyr</key>
		<array>
			<string>elcyr</string>
		</array>
		<key>public.kern2.KO_emcyr</key>
		<array>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>emcyr</string>
		</array>
		<key>public.kern2.KO_encyr</key>
		<array>
			<string>encyr</string>
			<string>njecyr</string>
			<string>entailcyr</string>
			<string>engecyr</string>
		</array>
		<key>public.kern2.KO_eukrcyr</key>
		<array>
			<string>eukrcyr</string>
		</array>
		<key>public.kern2.KO_f</key>
		<array>
			<string>Oslashacute</string>
			<string>Germandbls</string>
			<string>f</string>
		</array>
		<key>public.kern2.KO_g</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>uni0123</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>gcaron</string>
		</array>
		<key>public.kern2.KO_gecyr</key>
		<array>
			<string>pi</string>
			<string>gecyr</string>
			<string>softcyr</string>
			<string>gjecyr</string>
			<string>dzhecyr</string>
			<string>geupcyr</string>
			<string>gehookcyr</string>
			<string>getailcyr</string>
		</array>
		<key>public.kern2.KO_gestrokecyr</key>
		<array>
			<string>gestrokecyr</string>
		</array>
		<key>public.kern2.KO_guillemetleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemetleft</string>
			<string>cent</string>
			<string>Euro</string>
		</array>
		<key>public.kern2.KO_guillemetright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemetright</string>
			<string>hryvnia</string>
			<string>colonmonetary</string>
			<string>lira</string>
			<string>guarani</string>
			<string>cedi</string>
			<string>turkishlira</string>
			<string>ruble</string>
		</array>
		<key>public.kern2.KO_h</key>
		<array>
			<string>h</string>
			<string>shhacyr</string>
			<string>hcircumflex</string>
			<string>hbar</string>
		</array>
		<key>public.kern2.KO_hyphen</key>
		<array>
			<string>hyphen</string>
		</array>
		<key>public.kern2.KO_i</key>
		<array>
			<string>i</string>
			<string>iacute</string>
			<string>idotless</string>
			<string>ij</string>
			<string>Gjecyr</string>
			<string>iukrcyr</string>
			<string>ihoi</string>
			<string>idotbelow</string>
		</array>
		<key>public.kern2.KO_icyr</key>
		<array>
			<string>icyr</string>
			<string>ishortcyr</string>
			<string>igravecyr</string>
			<string>imacroncyr</string>
			<string>idieresiscyr</string>
		</array>
		<key>public.kern2.KO_j</key>
		<array>
			<string>j</string>
			<string>jecyr</string>
		</array>
		<key>public.kern2.KO_jcircumflex</key>
		<array>
			<string>jcircumflex</string>
		</array>
		<key>public.kern2.KO_k</key>
		<array>
			<string>K</string>
			<string>uni0136</string>
			<string>Thorn</string>
			<string>k</string>
			<string>uni0137</string>
			<string>ntilde</string>
			<string>Kjecyr</string>
			<string>Igravecyr</string>
			<string>Ishortcyr</string>
			<string>Kacyr</string>
			<string>Katailcyr</string>
			<string>Imacroncyr</string>
			<string>Idieresiscyr</string>
		</array>
		<key>public.kern2.KO_l</key>
		<array>
			<string>l</string>
			<string>lacute</string>
			<string>uni013C</string>
			<string>lcaron</string>
			<string>ldot</string>
		</array>
		<key>public.kern2.KO_lslash</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern2.KO_m</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>uni0145</string>
			<string>Ncaron</string>
			<string>Eng</string>
			<string>m</string>
		</array>
		<key>public.kern2.KO_n</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Acaron</string>
			<string>AE</string>
			<string>n</string>
			<string>nacute</string>
			<string>uni0146</string>
			<string>ncaron</string>
			<string>eng</string>
			<string>Acyr</string>
			<string>Abrevecyr</string>
			<string>Adieresiscyr</string>
			<string>AEacute</string>
			<string>Adotbelow</string>
			<string>Ahoi</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhoi</string>
			<string>Acircumflextilde</string>
			<string>Acircumflexdotbelow</string>
			<string>Abreveacute</string>
			<string>Abrevegrave</string>
			<string>Abrevehoi</string>
			<string>Abrevetilde</string>
			<string>Abrevedotbelow</string>
		</array>
		<key>public.kern2.KO_o</key>
		<array>
			<string>o</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>ohungarumlaut</string>
			<string>oe</string>
			<string>ocyr</string>
			<string>odieresiscyr</string>
			<string>ohorn</string>
			<string>oogonek</string>
			<string>oinvertedbreve</string>
			<string>odotbelow</string>
			<string>ohoi</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhoi</string>
			<string>ocircumflextilde</string>
			<string>ocircumflexdotbelow</string>
			<string>ohornacute</string>
			<string>ohorngrave</string>
			<string>ohornhoi</string>
			<string>ohorntilde</string>
			<string>ohorndotbelow</string>
		</array>
		<key>public.kern2.KO_obarcyr</key>
		<array>
			<string>fitacyr</string>
			<string>obarcyr</string>
			<string>Gcircumflex</string>
			<string>aeacute</string>
		</array>
		<key>public.kern2.KO_p</key>
		<array>
			<string>p</string>
			<string>ercyr</string>
		</array>
		<key>public.kern2.KO_parenright</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern2.KO_pecyr</key>
		<array>
			<string>pecyr</string>
		</array>
		<key>public.kern2.KO_period</key>
		<array>
			<string>period</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern2.KO_q</key>
		<array>
			<string>q</string>
			<string>Ljecyr</string>
			<string>Elcyr</string>
		</array>
		<key>public.kern2.KO_question</key>
		<array>
			<string>bracketangleright</string>
			<string>question</string>
			<string>trademark</string>
			<string>tugrik</string>
			<string>tenge</string>
		</array>
		<key>public.kern2.KO_quotedbl</key>
		<array>
			<string>quotedbl</string>
			<string>asterisk</string>
			<string>indianrupee</string>
		</array>
		<key>public.kern2.KO_quotedblright</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.KO_quoteright</key>
		<array>
			<string>quoteright</string>
		</array>
		<key>public.kern2.KO_quotesingle</key>
		<array>
			<string>quotesingle</string>
			<string>won</string>
		</array>
		<key>public.kern2.KO_r</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>uni0157</string>
			<string>rcaron</string>
			<string>rinvertedbreve</string>
		</array>
		<key>public.kern2.KO_s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>scommaaccent</string>
			<string>dzecyr</string>
			<string>scircumflex</string>
		</array>
		<key>public.kern2.KO_semicolon</key>
		<array>
			<string>semicolon</string>
			<string>dollar</string>
		</array>
		<key>public.kern2.KO_shacyr</key>
		<array>
			<string>Oslash</string>
			<string>OE</string>
			<string>shacyr</string>
			<string>shchacyr</string>
			<string>Aiecyr</string>
		</array>
		<key>public.kern2.KO_slash</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern2.KO_t</key>
		<array>
			<string>E</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>IJ</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>Iegravecyr</string>
			<string>Iocyr</string>
			<string>Iecyr</string>
			<string>Iebrevecyr</string>
			<string>Einvertedbreve</string>
			<string>Edotbelow</string>
			<string>Ehoi</string>
			<string>Etilde</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhoi</string>
			<string>Ecircumflextilde</string>
			<string>Ecircumflexdotbelow</string>
		</array>
		<key>public.kern2.KO_tecyr</key>
		<array>
			<string>tecyr</string>
		</array>
		<key>public.kern2.KO_tsecyr</key>
		<array>
			<string>Tsecyr</string>
			<string>tsecyr</string>
		</array>
		<key>public.kern2.KO_u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>ucaron</string>
			<string>utilde</string>
			<string>uhorn</string>
			<string>udotbelow</string>
			<string>uhoi</string>
			<string>uhornacute</string>
			<string>uhorngrave</string>
			<string>uhornhoi</string>
			<string>uhorntilde</string>
			<string>uhorndotbelow</string>
		</array>
		<key>public.kern2.KO_ustraightcyr</key>
		<array>
			<string>ustraightcyr</string>
		</array>
		<key>public.kern2.KO_v</key>
		<array>
			<string>v</string>
			<string>hardcyr</string>
			<string>yatcyr</string>
			<string>izhitsacyr</string>
			<string>kabashkcyr</string>
		</array>
		<key>public.kern2.KO_vecyr</key>
		<array>
			<string>vecyr</string>
		</array>
		<key>public.kern2.KO_w</key>
		<array>
			<string>w</string>
			<string>wecyr</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern2.KO_x</key>
		<array>
			<string>x</string>
			<string>hacyr</string>
		</array>
		<key>public.kern2.KO_xatailcyr</key>
		<array>
			<string>xatailcyr</string>
		</array>
		<key>public.kern2.KO_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ucyr</string>
			<string>ushortcyr</string>
			<string>umacroncyr</string>
			<string>udieresiscyr</string>
			<string>uacutedblcyr</string>
			<string>ycircumflex</string>
			<string>ymacron</string>
			<string>ygrave</string>
			<string>ydotbelow</string>
			<string>yhoi</string>
			<string>ytilde</string>
		</array>
		<key>public.kern2.KO_yacyr</key>
		<array>
			<string>yacyr</string>
		</array>
		<key>public.kern2.KO_yucyr</key>
		<array>
			<string>yucyr</string>
		</array>
		<key>public.kern2.KO_yukrcyr</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>yukrcyr</string>
			<string>itilde</string>
		</array>
		<key>public.kern2.KO_z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>schwacyr</string>
			<string>schwa</string>
		</array>
		<key>public.kern2.KO_zecyr</key>
		<array>
			<string>Omega</string>
			<string>zecyr</string>
			<string>zetailcyr</string>
			<string>zedieresiscyr</string>
		</array>
	</dict>
</plist>
