<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<dict>
			<key>T</key>
			<integer>-80</integer>
		</dict>
		<key>D</key>
		<dict>
			<key>I</key>
			<integer>-10</integer>
		</dict>
		<key>G</key>
		<dict>
			<key>E</key>
			<integer>-20</integer>
			<key>S</key>
			<integer>-20</integer>
		</dict>
		<key>H</key>
		<dict>
			<key>n</key>
			<integer>-10</integer>
		</dict>
		<key>I</key>
		<dict>
			<key>O</key>
			<integer>-20</integer>
		</dict>
		<key>T</key>
		<dict>
			<key>A</key>
			<integer>-60</integer>
			<key>S</key>
			<integer>-40</integer>
		</dict>
		<key>W</key>
		<dict>
			<key>slash</key>
			<integer>-30</integer>
		</dict>
		<key>a</key>
		<dict>
			<key>v</key>
			<integer>-30</integer>
		</dict>
		<key>e</key>
		<dict>
			<key>v</key>
			<integer>-20</integer>
		</dict>
		<key>g</key>
		<dict>
			<key>v</key>
			<integer>-10</integer>
		</dict>
		<key>o</key>
		<dict>
			<key>v</key>
			<integer>-10</integer>
		</dict>
		<key>r</key>
		<dict>
			<key>e</key>
			<integer>-40</integer>
		</dict>
		<key>slash</key>
		<dict>
			<key>N</key>
			<integer>20</integer>
		</dict>
		<key>v</key>
		<dict>
			<key>e</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-20</integer>
		</dict>
	</dict>
</plist>
