.DS_Store
venv
venv*
node_modules

master_ufo
master_ttf
master_otf
instance_ufo
instance_otf
instances
*(Autosaved)*

*--prepped
*--prepped*
*varfontprep*
*Skateboard Previews*
sources/italics--generated
sources/ital_wght_IRGL--UFOs

*.zip

.vscode/settings.json