fontmake==3.5.1
pyyaml
fontparts==0.10.4
font-v
fontfeatures
fontbakery
beziers==0.5.0 # required for fontbakery (https://github.com/googlefonts/fontbakery/issues/3993)
gftools==0.9.0
fonttools==4.38.0
glyphsLib==6.1.0
ufonormalizer==0.6.1
coldtype[viewer,drawbot]>=0.10.4
glyphspkg==0.1.7
skia-pathops