<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>breveacutecomb</key>
    <string>breveacutecomb.glif</string>
    <key>brevegravecomb</key>
    <string>brevegravecomb.glif</string>
    <key>brevehookabovecomb</key>
    <string>brevehookabovecomb.glif</string>
    <key>circumflexacutecomb</key>
    <string>circumflexacutecomb.glif</string>
    <key>circumflexgravecomb</key>
    <string>circumflexgravecomb.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>ringacutecomb</key>
    <string>ringacutecomb.glif</string>
    <key>tildemacroncomb</key>
    <string>tildemacroncomb.glif</string>
  </dict>
</plist>
