<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Abrevecyr</key>
		<string>A_brevecyr.glif</string>
		<key>Acyr</key>
		<string>A_cyr.glif</string>
		<key>Adieresiscyr</key>
		<string>A_dieresiscyr.glif</string>
		<key>Aiecyr</key>
		<string>A_iecyr.glif</string>
		<key>Becyr</key>
		<string>B_ecyr.glif</string>
		<key>Checyr</key>
		<string>C_hecyr.glif</string>
		<key>Chedieresiscyr</key>
		<string>C_hedieresiscyr.glif</string>
		<key>Chekhakascyr</key>
		<string>C_hekhakascyr.glif</string>
		<key>Chetailcyr</key>
		<string>C_hetailcyr.glif</string>
		<key>Chevertcyr</key>
		<string>C_hevertcyr.glif</string>
		<key>De-cy.loclBGR</key>
		<string>D_e-cy.loclB_G_R_.glif</string>
		<key>Decyr</key>
		<string>D_ecyr.glif</string>
		<key>Djecyr</key>
		<string>D_jecyr.glif</string>
		<key>Dzecyr</key>
		<string>D_zecyr.glif</string>
		<key>Dzhecyr</key>
		<string>D_zhecyr.glif</string>
		<key>Ef-cy.loclBGR</key>
		<string>E_f-cy.loclB_G_R_.glif</string>
		<key>Efcyr</key>
		<string>E_fcyr.glif</string>
		<key>El-cy.loclBGR</key>
		<string>E_l-cy.loclB_G_R_.glif</string>
		<key>Elcyr</key>
		<string>E_lcyr.glif</string>
		<key>Emcyr</key>
		<string>E_mcyr.glif</string>
		<key>Encyr</key>
		<string>E_ncyr.glif</string>
		<key>Engecyr</key>
		<string>E_ngecyr.glif</string>
		<key>Entailcyr</key>
		<string>E_ntailcyr.glif</string>
		<key>Ercyr</key>
		<string>E_rcyr.glif</string>
		<key>Ereversedcyr</key>
		<string>E_reversedcyr.glif</string>
		<key>Escyr</key>
		<string>E_scyr.glif</string>
		<key>Esdescender-cy.loclBSH</key>
		<string>E_sdescender-cy.loclB_S_H_.glif</string>
		<key>Esdescender-cy.loclCHU</key>
		<string>E_sdescender-cy.loclC_H_U_.glif</string>
		<key>Estailcyr</key>
		<string>E_stailcyr.glif</string>
		<key>Eukrcyr</key>
		<string>E_ukrcyr.glif</string>
		<key>Fitacyr</key>
		<string>F_itacyr.glif</string>
		<key>Gecyr</key>
		<string>G_ecyr.glif</string>
		<key>Gehookcyr</key>
		<string>G_ehookcyr.glif</string>
		<key>Gestrokecyr</key>
		<string>G_estrokecyr.glif</string>
		<key>Getailcyr</key>
		<string>G_etailcyr.glif</string>
		<key>Geupcyr</key>
		<string>G_eupcyr.glif</string>
		<key>Ghestroke-cy.loclBSH</key>
		<string>G_hestroke-cy.loclB_S_H_.glif</string>
		<key>Gjecyr</key>
		<string>G_jecyr.glif</string>
		<key>Hacyr</key>
		<string>H_acyr.glif</string>
		<key>Hardcyr</key>
		<string>H_ardcyr.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Idieresiscyr</key>
		<string>I_dieresiscyr.glif</string>
		<key>Iebrevecyr</key>
		<string>I_ebrevecyr.glif</string>
		<key>Iecyr</key>
		<string>I_ecyr.glif</string>
		<key>Iegravecyr</key>
		<string>I_egravecyr.glif</string>
		<key>Igravecyr</key>
		<string>I_gravecyr.glif</string>
		<key>Ii-cy.loclBGR</key>
		<string>I_i-cy.loclB_G_R_.glif</string>
		<key>Iigrave-cy.loclBGR</key>
		<string>I_igrave-cy.loclB_G_R_.glif</string>
		<key>Iishort-cy.loclBGR</key>
		<string>I_ishort-cy.loclB_G_R_.glif</string>
		<key>Imacroncyr</key>
		<string>I_macroncyr.glif</string>
		<key>Iocyr</key>
		<string>I_ocyr.glif</string>
		<key>Ishortcyr</key>
		<string>I_shortcyr.glif</string>
		<key>Iukrcyr</key>
		<string>I_ukrcyr.glif</string>
		<key>Izhitsacyr</key>
		<string>I_zhitsacyr.glif</string>
		<key>Jecyr</key>
		<string>J_ecyr.glif</string>
		<key>Kabashkcyr</key>
		<string>K_abashkcyr.glif</string>
		<key>Kacyr</key>
		<string>K_acyr.glif</string>
		<key>Katailcyr</key>
		<string>K_atailcyr.glif</string>
		<key>Kaverticalstrokecyr</key>
		<string>K_averticalstrokecyr.glif</string>
		<key>Kjecyr</key>
		<string>K_jecyr.glif</string>
		<key>Ljecyr</key>
		<string>L_jecyr.glif</string>
		<key>Njecyr</key>
		<string>N_jecyr.glif</string>
		<key>Obarcyr</key>
		<string>O_barcyr.glif</string>
		<key>Ocyr</key>
		<string>O_cyr.glif</string>
		<key>Odieresiscyr</key>
		<string>O_dieresiscyr.glif</string>
		<key>Palochkacyr</key>
		<string>P_alochkacyr.glif</string>
		<key>Pecyr</key>
		<string>P_ecyr.glif</string>
		<key>Qacyr</key>
		<string>Q_acyr.glif</string>
		<key>Schwacyr</key>
		<string>S_chwacyr.glif</string>
		<key>Shacyr</key>
		<string>S_hacyr.glif</string>
		<key>Shchacyr</key>
		<string>S_hchacyr.glif</string>
		<key>Shhacyr</key>
		<string>S_hhacyr.glif</string>
		<key>Softcyr</key>
		<string>S_oftcyr.glif</string>
		<key>Tecyr</key>
		<string>T_ecyr.glif</string>
		<key>Tsecyr</key>
		<string>T_secyr.glif</string>
		<key>Tshecyr</key>
		<string>T_shecyr.glif</string>
		<key>Uacutedblcyr</key>
		<string>U_acutedblcyr.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>Udieresiscyr</key>
		<string>U_dieresiscyr.glif</string>
		<key>Umacroncyr</key>
		<string>U_macroncyr.glif</string>
		<key>Ushortcyr</key>
		<string>U_shortcyr.glif</string>
		<key>Ustraightcyr</key>
		<string>U_straightcyr.glif</string>
		<key>Ustraightstrokecyr</key>
		<string>U_straightstrokecyr.glif</string>
		<key>Vecyr</key>
		<string>V_ecyr.glif</string>
		<key>Wecyr</key>
		<string>W_ecyr.glif</string>
		<key>Xatailcyr</key>
		<string>X_atailcyr.glif</string>
		<key>Yacyr</key>
		<string>Y_acyr.glif</string>
		<key>Yatcyr</key>
		<string>Y_atcyr.glif</string>
		<key>Ylongcyr</key>
		<string>Y_longcyr.glif</string>
		<key>Ylongdieresiscyr</key>
		<string>Y_longdieresiscyr.glif</string>
		<key>Yucyr</key>
		<string>Y_ucyr.glif</string>
		<key>Yukrcyr</key>
		<string>Y_ukrcyr.glif</string>
		<key>Yusbigcyr</key>
		<string>Y_usbigcyr.glif</string>
		<key>Zecyr</key>
		<string>Z_ecyr.glif</string>
		<key>Zedescender-cy.loclBSH</key>
		<string>Z_edescender-cy.loclB_S_H_.glif</string>
		<key>Zedieresiscyr</key>
		<string>Z_edieresiscyr.glif</string>
		<key>Zetailcyr</key>
		<string>Z_etailcyr.glif</string>
		<key>Zhebrevecyr</key>
		<string>Z_hebrevecyr.glif</string>
		<key>Zhecyr</key>
		<string>Z_hecyr.glif</string>
		<key>Zhedieresiscyr</key>
		<string>Z_hedieresiscyr.glif</string>
		<key>Zhetailcyr</key>
		<string>Z_hetailcyr.glif</string>
		<key>abrevecyr</key>
		<string>abrevecyr.glif</string>
		<key>acyr</key>
		<string>acyr.glif</string>
		<key>adieresiscyr</key>
		<string>adieresiscyr.glif</string>
		<key>aiecyr</key>
		<string>aiecyr.glif</string>
		<key>be-cy.loclSRB</key>
		<string>be-cy.loclS_R_B_.glif</string>
		<key>becyr</key>
		<string>becyr.glif</string>
		<key>breveacutecomb</key>
		<string>breveacutecomb.glif</string>
		<key>brevegravecomb</key>
		<string>brevegravecomb.glif</string>
		<key>brevehookabovecomb</key>
		<string>brevehookabovecomb.glif</string>
		<key>che-cy.loclBGR</key>
		<string>che-cy.loclB_G_R_.glif</string>
		<key>checyr</key>
		<string>checyr.glif</string>
		<key>chedieresiscyr</key>
		<string>chedieresiscyr.glif</string>
		<key>chekhakascyr</key>
		<string>chekhakascyr.glif</string>
		<key>chetailcyr</key>
		<string>chetailcyr.glif</string>
		<key>chevertcyr</key>
		<string>chevertcyr.glif</string>
		<key>circumflexacutecomb</key>
		<string>circumflexacutecomb.glif</string>
		<key>circumflexgravecomb</key>
		<string>circumflexgravecomb.glif</string>
		<key>de-cy.loclBGR</key>
		<string>de-cy.loclB_G_R_.glif</string>
		<key>de-cy.loclSRB</key>
		<string>de-cy.loclS_R_B_.glif</string>
		<key>decyr</key>
		<string>decyr.glif</string>
		<key>djecyr</key>
		<string>djecyr.glif</string>
		<key>dzecyr</key>
		<string>dzecyr.glif</string>
		<key>dzhecyr</key>
		<string>dzhecyr.glif</string>
		<key>efcyr</key>
		<string>efcyr.glif</string>
		<key>el-cy.loclBGR</key>
		<string>el-cy.loclB_G_R_.glif</string>
		<key>elcyr</key>
		<string>elcyr.glif</string>
		<key>emcyr</key>
		<string>emcyr.glif</string>
		<key>en-cy.loclBGR</key>
		<string>en-cy.loclB_G_R_.glif</string>
		<key>encyr</key>
		<string>encyr.glif</string>
		<key>engecyr</key>
		<string>engecyr.glif</string>
		<key>entailcyr</key>
		<string>entailcyr.glif</string>
		<key>ercyr</key>
		<string>ercyr.glif</string>
		<key>ereversedcyr</key>
		<string>ereversedcyr.glif</string>
		<key>escyr</key>
		<string>escyr.glif</string>
		<key>esdescender-cy.loclBSH</key>
		<string>esdescender-cy.loclB_S_H_.glif</string>
		<key>esdescender-cy.loclCHU</key>
		<string>esdescender-cy.loclC_H_U_.glif</string>
		<key>estailcyr</key>
		<string>estailcyr.glif</string>
		<key>eukrcyr</key>
		<string>eukrcyr.glif</string>
		<key>fitacyr</key>
		<string>fitacyr.glif</string>
		<key>ge-cy.loclBGR</key>
		<string>ge-cy.loclB_G_R_.glif</string>
		<key>ge-cy.loclSRB</key>
		<string>ge-cy.loclS_R_B_.glif</string>
		<key>gecyr</key>
		<string>gecyr.glif</string>
		<key>gehookcyr</key>
		<string>gehookcyr.glif</string>
		<key>gestrokecyr</key>
		<string>gestrokecyr.glif</string>
		<key>getailcyr</key>
		<string>getailcyr.glif</string>
		<key>geupcyr</key>
		<string>geupcyr.glif</string>
		<key>ghestroke-cy.loclBSH</key>
		<string>ghestroke-cy.loclB_S_H_.glif</string>
		<key>gje-cy.loclMKD</key>
		<string>gje-cy.loclM_K_D_.glif</string>
		<key>gjecyr</key>
		<string>gjecyr.glif</string>
		<key>hacyr</key>
		<string>hacyr.glif</string>
		<key>hardcyr</key>
		<string>hardcyr.glif</string>
		<key>hardsign-cy.loclBGR</key>
		<string>hardsign-cy.loclB_G_R_.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>idieresiscyr</key>
		<string>idieresiscyr.glif</string>
		<key>iebrevecyr</key>
		<string>iebrevecyr.glif</string>
		<key>iecyr</key>
		<string>iecyr.glif</string>
		<key>iegravecyr</key>
		<string>iegravecyr.glif</string>
		<key>igravecyr</key>
		<string>igravecyr.glif</string>
		<key>ii-cy.loclBGR</key>
		<string>ii-cy.loclB_G_R_.glif</string>
		<key>iigrave-cy.loclBGR</key>
		<string>iigrave-cy.loclB_G_R_.glif</string>
		<key>iishort-cy.loclBGR</key>
		<string>iishort-cy.loclB_G_R_.glif</string>
		<key>imacroncyr</key>
		<string>imacroncyr.glif</string>
		<key>iocyr</key>
		<string>iocyr.glif</string>
		<key>ishortcyr</key>
		<string>ishortcyr.glif</string>
		<key>iu-cy.loclBGR</key>
		<string>iu-cy.loclB_G_R_.glif</string>
		<key>iukrcyr</key>
		<string>iukrcyr.glif</string>
		<key>izhitsacyr</key>
		<string>izhitsacyr.glif</string>
		<key>jecyr</key>
		<string>jecyr.glif</string>
		<key>ka-cy.loclBGR</key>
		<string>ka-cy.loclB_G_R_.glif</string>
		<key>kabashkcyr</key>
		<string>kabashkcyr.glif</string>
		<key>kacyr</key>
		<string>kacyr.glif</string>
		<key>katailcyr</key>
		<string>katailcyr.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>kjecyr</key>
		<string>kjecyr.glif</string>
		<key>ljecyr</key>
		<string>ljecyr.glif</string>
		<key>njecyr</key>
		<string>njecyr.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>obarcyr</key>
		<string>obarcyr.glif</string>
		<key>ocyr</key>
		<string>ocyr.glif</string>
		<key>odieresiscyr</key>
		<string>odieresiscyr.glif</string>
		<key>palochkacyr</key>
		<string>palochkacyr.glif</string>
		<key>pe-cy.loclBGR</key>
		<string>pe-cy.loclB_G_R_.glif</string>
		<key>pe-cy.loclSRB</key>
		<string>pe-cy.loclS_R_B_.glif</string>
		<key>pecyr</key>
		<string>pecyr.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>qacyr</key>
		<string>qacyr.glif</string>
		<key>ringacutecomb</key>
		<string>ringacutecomb.glif</string>
		<key>schwacyr</key>
		<string>schwacyr.glif</string>
		<key>sha-cy.loclBGR</key>
		<string>sha-cy.loclB_G_R_.glif</string>
		<key>shacyr</key>
		<string>shacyr.glif</string>
		<key>shcha-cy.loclBGR</key>
		<string>shcha-cy.loclB_G_R_.glif</string>
		<key>shchacyr</key>
		<string>shchacyr.glif</string>
		<key>shhacyr</key>
		<string>shhacyr.glif</string>
		<key>softcyr</key>
		<string>softcyr.glif</string>
		<key>softsign-cy.loclBGR</key>
		<string>softsign-cy.loclB_G_R_.glif</string>
		<key>te-cy.loclBGR</key>
		<string>te-cy.loclB_G_R_.glif</string>
		<key>te-cy.loclSRB</key>
		<string>te-cy.loclS_R_B_.glif</string>
		<key>tecyr</key>
		<string>tecyr.glif</string>
		<key>tildemacroncomb</key>
		<string>tildemacroncomb.glif</string>
		<key>tse-cy.loclBGR</key>
		<string>tse-cy.loclB_G_R_.glif</string>
		<key>tsecyr</key>
		<string>tsecyr.glif</string>
		<key>tshecyr</key>
		<string>tshecyr.glif</string>
		<key>uacutedblcyr</key>
		<string>uacutedblcyr.glif</string>
		<key>ucyr</key>
		<string>ucyr.glif</string>
		<key>udieresiscyr</key>
		<string>udieresiscyr.glif</string>
		<key>umacroncyr</key>
		<string>umacroncyr.glif</string>
		<key>ushortcyr</key>
		<string>ushortcyr.glif</string>
		<key>ustraightcyr</key>
		<string>ustraightcyr.glif</string>
		<key>ustraightstrokecyr</key>
		<string>ustraightstrokecyr.glif</string>
		<key>ve-cy.loclBGR</key>
		<string>ve-cy.loclB_G_R_.glif</string>
		<key>vecyr</key>
		<string>vecyr.glif</string>
		<key>wecyr</key>
		<string>wecyr.glif</string>
		<key>xatailcyr</key>
		<string>xatailcyr.glif</string>
		<key>yacyr</key>
		<string>yacyr.glif</string>
		<key>yatcyr</key>
		<string>yatcyr.glif</string>
		<key>ylongcyr</key>
		<string>ylongcyr.glif</string>
		<key>ylongdieresiscyr</key>
		<string>ylongdieresiscyr.glif</string>
		<key>yucyr</key>
		<string>yucyr.glif</string>
		<key>yukrcyr</key>
		<string>yukrcyr.glif</string>
		<key>yukrcyr_yukrcyr</key>
		<string>yukrcyr_yukrcyr.glif</string>
		<key>yukrcyr_yukrcyr.ss01</key>
		<string>yukrcyr_yukrcyr.ss01.glif</string>
		<key>yusbigcyr</key>
		<string>yusbigcyr.glif</string>
		<key>ze-cy.loclBGR</key>
		<string>ze-cy.loclB_G_R_.glif</string>
		<key>zecyr</key>
		<string>zecyr.glif</string>
		<key>zedescender-cy.loclBSH</key>
		<string>zedescender-cy.loclB_S_H_.glif</string>
		<key>zedieresiscyr</key>
		<string>zedieresiscyr.glif</string>
		<key>zetailcyr</key>
		<string>zetailcyr.glif</string>
		<key>zhe-cy.loclBGR</key>
		<string>zhe-cy.loclB_G_R_.glif</string>
		<key>zhebrevecyr</key>
		<string>zhebrevecyr.glif</string>
		<key>zhecyr</key>
		<string>zhecyr.glif</string>
		<key>zhedieresiscyr</key>
		<string>zhedieresiscyr.glif</string>
		<key>zhetailcyr</key>
		<string>zhetailcyr.glif</string>
	</dict>
</plist>
