<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>C</key>
		<string>C_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
	</dict>
</plist>
