<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>66739A13-3AB9-4E7B-B17F-CB2B60388854</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.C</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.D</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.G</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.I</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.J</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.K</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.L</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.M</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.N</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.O</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.P</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.R</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.S</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.U</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.V</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.W</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.X</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.b</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.c</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.d</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.e</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.f</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.five</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.four</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.g</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.h</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.i</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.j</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.k</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.l</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.m</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.n</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.o</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.p</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.r</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.s</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.six</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.t</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.three</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.two</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.u</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.v</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.w</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.x</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.y</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.z</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
			<integer>8</integer>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
