<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Becyr</key>
		<string>B_ecyr.glif</string>
		<key>Checyr</key>
		<string>C_hecyr.glif</string>
		<key>Decyr</key>
		<string>D_ecyr.glif</string>
		<key>Djecyr</key>
		<string>D_jecyr.glif</string>
		<key>Efcyr</key>
		<string>E_fcyr.glif</string>
		<key>Elcyr</key>
		<string>E_lcyr.glif</string>
		<key>Emcyr</key>
		<string>E_mcyr.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>Gecyr</key>
		<string>G_ecyr.glif</string>
		<key>Hardcyr</key>
		<string>H_ardcyr.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Pecyr</key>
		<string>P_ecyr.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Shacyr</key>
		<string>S_hacyr.glif</string>
		<key>Tsecyr</key>
		<string>T_secyr.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>Yacyr</key>
		<string>Y_acyr.glif</string>
		<key>Ylongcyr</key>
		<string>Y_longcyr.glif</string>
		<key>Yucyr</key>
		<string>Y_ucyr.glif</string>
		<key>Zecyr</key>
		<string>Z_ecyr.glif</string>
		<key>Zhecyr</key>
		<string>Z_hecyr.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>brevecomb-cy.case</key>
		<string>brevecomb-cy.case.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>checyr</key>
		<string>checyr.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>decyr</key>
		<string>decyr.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>efcyr</key>
		<string>efcyr.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>elcyr</key>
		<string>elcyr.glif</string>
		<key>emcyr</key>
		<string>emcyr.glif</string>
		<key>encyr</key>
		<string>encyr.glif</string>
		<key>ereversedcyr</key>
		<string>ereversedcyr.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>ge-cy.loclBGR</key>
		<string>ge-cy.loclB_G_R_.glif</string>
		<key>gecyr</key>
		<string>gecyr.glif</string>
		<key>hardcyr</key>
		<string>hardcyr.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>ishortcyr</key>
		<string>ishortcyr.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>njecyr</key>
		<string>njecyr.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>pecyr</key>
		<string>pecyr.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>shacyr</key>
		<string>shacyr.glif</string>
		<key>shcha-cy.loclBGR</key>
		<string>shcha-cy.loclB_G_R_.glif</string>
		<key>shchacyr</key>
		<string>shchacyr.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>softcyr</key>
		<string>softcyr.glif</string>
		<key>tecyr</key>
		<string>tecyr.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>tsecyr</key>
		<string>tsecyr.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>ustraightcyr</key>
		<string>ustraightcyr.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>yacyr</key>
		<string>yacyr.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>ylongcyr</key>
		<string>ylongcyr.glif</string>
		<key>yucyr</key>
		<string>yucyr.glif</string>
		<key>zhecyr</key>
		<string>zhecyr.glif</string>
	</dict>
  <dict>
    <key>Becyr</key>
    <string>B_ecyr.glif</string>
    <key>Checyr</key>
    <string>C_hecyr.glif</string>
    <key>Decyr</key>
    <string>D_ecyr.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>Efcyr</key>
    <string>E_fcyr.glif</string>
    <key>Elcyr</key>
    <string>E_lcyr.glif</string>
    <key>Emcyr</key>
    <string>E_mcyr.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Hardcyr</key>
    <string>H_ardcyr.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pecyr</key>
    <string>P_ecyr.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Shacyr</key>
    <string>S_hacyr.glif</string>
    <key>Tsecyr</key>
    <string>T_secyr.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Yacyr</key>
    <string>Y_acyr.glif</string>
    <key>Ylongcyr</key>
    <string>Y_longcyr.glif</string>
    <key>Yucyr</key>
    <string>Y_ucyr.glif</string>
    <key>Zecyr</key>
    <string>Z_ecyr.glif</string>
    <key>Zhecyr</key>
    <string>Z_hecyr.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>checyr</key>
    <string>checyr.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>decyr</key>
    <string>decyr.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>efcyr</key>
    <string>efcyr.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>elcyr</key>
    <string>elcyr.glif</string>
    <key>emcyr</key>
    <string>emcyr.glif</string>
    <key>encyr</key>
    <string>encyr.glif</string>
    <key>ereversedcyr</key>
    <string>ereversedcyr.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>gecyr</key>
    <string>gecyr.glif</string>
    <key>hardcyr</key>
    <string>hardcyr.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>ishortcyr</key>
    <string>ishortcyr.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>njecyr</key>
    <string>njecyr.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>pecyr</key>
    <string>pecyr.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shacyr</key>
    <string>shacyr.glif</string>
    <key>shcha-cy.loclBGR</key>
    <string>shcha-cy.loclB_G_R_.glif</string>
    <key>shchacyr</key>
    <string>shchacyr.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>softcyr</key>
    <string>softcyr.glif</string>
    <key>tecyr</key>
    <string>tecyr.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tsecyr</key>
    <string>tsecyr.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yacyr</key>
    <string>yacyr.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ylongcyr</key>
    <string>ylongcyr.glif</string>
    <key>yucyr</key>
    <string>yucyr.glif</string>
    <key>zhecyr</key>
    <string>zhecyr.glif</string>
  </dict>
</plist>
