<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict>
        <key>E_uro.glif</key>
        <string>E</string>
        <key>O_mega.glif</key>
        <string>O</string>
        <key>approxequal.glif</key>
        <string>S</string>
        <key>arrowN_W_.glif</key>
        <string>a</string>
        <key>arrowS_E_.glif</key>
        <string>a</string>
        <key>arrowS_W_.glif</key>
        <string>a</string>
        <key>asciitilde.glif</key>
        <string>S</string>
        <key>asterisk.glif</key>
        <string>a</string>
        <key>braceleft.glif</key>
        <string>b</string>
        <key>braceright.glif</key>
        <string>p</string>
        <key>bracketleft.glif</key>
        <string>p</string>
        <key>bracketright.glif</key>
        <string>p</string>
        <key>cedillacomb.glif</key>
        <string>S</string>
        <key>circumflexcomb.glif</key>
        <string>a</string>
        <key>heartwhite.glif</key>
        <string>h</string>
        <key>numbersign.glif</key>
        <string>n</string>
        <key>parenleft.glif</key>
        <string>p</string>
        <key>parenright.glif</key>
        <string>p</string>
        <key>quoteleft.glif</key>
        <string>q</string>
        <key>quoteright.glif</key>
        <string>q</string>
        <key>tildecomb.glif</key>
        <string>S</string>
      </dict>
    </dict>
  </dict>
</plist>
