<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>024B899D-8068-420F-B13D-E363D94F092A</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Emcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.K</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.M</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.N</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.P</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.R</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ucyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.W</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ylongcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.at</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.b</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.c</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.checyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.d</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.five</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.four</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ishortcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.j</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.k</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.m</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.njecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.p</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.six</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.three</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.two</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.w</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.x</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
			<integer>8</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1648605866.0 B_ecyr.glif
1648605866.0 C_hecyr.glif
1648605866.0 D_ecyr.glif
1648605866.0 E_fcyr.glif
1648605866.0 E_lcyr.glif
1648605866.0 E_mcyr.glif
1605116211.4 E_uro.glif
1648605866.0 G_ecyr.glif
1648605866.0 H_ardcyr.glif
1648605866.0 I_cyr.glif
1593981914.1 K_.glif
1593981914.1 M_.glif
1593981914.1 N_.glif
1605116211.4 O_mega.glif
1593981914.1 P_.glif
1648605866.0 P_ecyr.glif
1593981914.1 Q_.glif
1593981914.1 R_.glif
1648605866.0 S_hacyr.glif
1648605866.0 T_secyr.glif
1648605866.0 U_cyr.glif
1593981914.1 W_.glif
1648605866.0 Y_acyr.glif
1648605866.0 Y_acyr.ss01.glif
1648605866.0 Y_longcyr.glif
1648605866.0 Y_ucyr.glif
1648605866.0 Z_ecyr.glif
1648605866.0 Z_hecyr.glif
1597613565.5 ampersand.glif
1597525266.6 at.glif
1593981914.1 b.glif
1593981914.1 c.glif
1605116211.4 cent.glif
1648605866.0 checyr.glif
1593981914.1 d.glif
1648605866.0 decyr.glif
1618008400.5 dollar.glif
1648605866.0 efcyr.glif
1593981914.1 eight.glif
1648605866.0 elcyr.glif
1648605866.0 emcyr.glif
1648605866.0 encyr.glif
1648605866.0 ereversedcyr.glif
1593981914.1 five.glif
1593981914.1 four.glif
1648605866.0 gecyr.glif
1648605866.0 hardcyr.glif
1648605866.0 icyr.glif
1648605866.0 ishortcyr.glif
1593981914.1 j.glif
1593981914.1 k.glif
1593981914.1 m.glif
1593981914.1 nine.glif
1593981914.1 p.glif
1648605866.0 pecyr.glif
1593981914.1 seven.glif
1648605866.0 shacyr.glif
1648605866.0 shchacyr.glif
1593981914.1 six.glif
1648605866.0 softcyr.glif
1648605866.0 tecyr.glif
1593981914.1 three.glif
1648605866.0 tsecyr.glif
1593981914.1 two.glif
1593981914.1 w.glif
1593981914.1 x.glif
1648605866.0 yacyr.glif
1605116397.0 yen.glif
1648605866.0 ylongcyr.glif
1648605866.0 yucyr.glif
1648605866.0 zhecyr.glif</string>
		</dict>
	</dict>
</plist>
