<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Abrevecyr</key>
		<string>A_brevecyr.glif</string>
		<key>Becyr</key>
		<string>B_ecyr.glif</string>
		<key>Checyr</key>
		<string>C_hecyr.glif</string>
		<key>Decyr</key>
		<string>D_ecyr.glif</string>
		<key>Efcyr</key>
		<string>E_fcyr.glif</string>
		<key>Elcyr</key>
		<string>E_lcyr.glif</string>
		<key>Emcyr</key>
		<string>E_mcyr.glif</string>
		<key>Gecyr</key>
		<string>G_ecyr.glif</string>
		<key>Hardcyr</key>
		<string>H_ardcyr.glif</string>
		<key>Iebrevecyr</key>
		<string>I_ebrevecyr.glif</string>
		<key>Ishortcyr</key>
		<string>I_shortcyr.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Pecyr</key>
		<string>P_ecyr.glif</string>
		<key>Shacyr</key>
		<string>S_hacyr.glif</string>
		<key>Shchacyr</key>
		<string>S_hchacyr.glif</string>
		<key>Softcyr</key>
		<string>S_oftcyr.glif</string>
		<key>Tsecyr</key>
		<string>T_secyr.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>Ylongcyr</key>
		<string>Y_longcyr.glif</string>
		<key>Zecyr</key>
		<string>Z_ecyr.glif</string>
		<key>Zhebrevecyr</key>
		<string>Z_hebrevecyr.glif</string>
		<key>Zhecyr</key>
		<string>Z_hecyr.glif</string>
		<key>arrowleftright</key>
		<string>arrowleftright.glif</string>
		<key>arrowupdown</key>
		<string>arrowupdown.glif</string>
		<key>brevehookabovecomb</key>
		<string>brevehookabovecomb.glif</string>
		<key>circleblack</key>
		<string>circleblack.glif</string>
		<key>circumflexacutecomb</key>
		<string>circumflexacutecomb.glif</string>
		<key>circumflexgravecomb</key>
		<string>circumflexgravecomb.glif</string>
		<key>circumflexhookabovecomb</key>
		<string>circumflexhookabovecomb.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>guillemetleft</key>
		<string>guillemetleft.glif</string>
		<key>guillemetright</key>
		<string>guillemetright.glif</string>
		<key>kra</key>
		<string>kra.glif</string>
		<key>lari</key>
		<string>lari.glif</string>
		<key>newsheqel</key>
		<string>newsheqel.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>rupee</key>
		<string>rupee.glif</string>
		<key>trianglerightblack</key>
		<string>trianglerightblack.glif</string>
	</dict>
</plist>
