<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>encyr.glif</key>
				<string>S_creenshot 2021-10-15 at 15.00.49.png</string>
				<key>icyr.glif</key>
				<string>S_creenshot 2021-10-15 at 15.01.07.png</string>
			</dict>
		</dict>
	</dict>
</plist>
