<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,1,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>643601BD-4FE2-4CC7-8F21-8115BEF2FECE</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chekhakascyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chetailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Emcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Encyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ereversedcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gehookcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Katailcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shchacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Softcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Xatailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yusbigcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.at</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.becyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.checyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chekhakascyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chetailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.djecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.entailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.estailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eukrcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gehookcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.getailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.geupcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.katailcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstrokecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.o</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pe-cy.loclSRB</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.sha-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
			<integer>15</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.te-cy.loclSRB</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ustraightcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.vecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.xatailcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yatcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yusbigcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
			<integer>15</integer>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
