<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>934284C9-D641-487B-AD85-47FD6759B04E</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chekhakascyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chetailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Encyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ereversedcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gehookcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Katailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shchacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Softcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Xatailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yusbigcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.at</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.becyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chekhakascyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chetailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.djecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.entailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.estailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eukrcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gehookcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.getailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.geupcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.katailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstrokecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pe-cy.loclSRB</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.sha-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.te-cy.loclSRB</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.vecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.xatailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yatcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yusbigcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
			<integer>11</integer>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<integer>1</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1638203364.5 B_ecyr.glif
1643927144.2 C_hecyr.glif
1648605865.9 C_hekhakascyr.glif
1648605865.9 C_hetailcyr.glif
1643927144.2 D_ecyr.glif
1648605865.9 D_jecyr.glif
1648605865.9 E_fcyr.glif
1636125424.3 E_lcyr.glif
1636125424.3 E_ncyr.glif
1643927144.2 E_reversedcyr.glif
1636123476.8 E_uro.glif
1643927144.2 G_ecyr.glif
1648605865.9 G_ehookcyr.glif
1643927144.2 H_ardcyr.glif
1643927144.2 I_cyr.glif
1648605865.9 K_atailcyr.glif
1643927144.2 P_ecyr.glif
1643927144.2 S_hacyr.glif
1643927144.2 S_hchacyr.glif
1638203364.5 S_oftcyr.glif
1643927144.2 T_secyr.glif
1648605865.9 X_atailcyr.glif
1643927144.2 Y_acyr.glif
1643927144.2 Y_ucyr.glif
1643927144.2 Y_usbigcyr.glif
1643927144.2 Z_ecyr.glif
1643927144.2 Z_hecyr.glif
1636123476.8 at.glif
1643927144.2 becyr.glif
1636123476.8 braceright.glif
1648605865.9 chekhakascyr.glif
1648605865.9 chetailcyr.glif
1643927144.2 decyr.glif
1648605865.9 djecyr.glif
1636123476.8 dollar.glif
1643927144.2 efcyr.glif
1643927144.2 elcyr.glif
1643927144.2 emcyr.glif
1643927144.2 encyr.glif
1648605865.9 entailcyr.glif
1643927144.2 ereversedcyr.glif
1643927144.2 ge-cy.loclB_G_R_.glif
1648605865.9 gehookcyr.glif
1648605865.9 getailcyr.glif
1648605865.9 geupcyr.glif
1643927144.2 hardcyr.glif
1648605865.9 hryvnia.glif
1643927144.2 icyr.glif
1636123476.8 infinity.glif
1643927144.2 kacyr.glif
1648605865.9 katailcyr.glif
1648605865.9 kaverticalstrokecyr.glif
1636123476.8 numbersign.glif
1636123476.8 paragraph.glif
1648605865.9 pe-cy.loclS_R_B_.glif
1643927144.2 pecyr.glif
1643927144.2 shacyr.glif
1643927144.2 shcha-cy.loclB_G_R_.glif
1648605865.9 shchacyr.glif
1643927144.2 softcyr.glif
1648605865.9 te-cy.loclS_R_B_.glif
1643927144.2 tecyr.glif
1638203364.5 tsecyr.glif
1643927144.2 ve-cy.loclB_G_R_.glif
1638203364.5 vecyr.glif
1648605865.9 xatailcyr.glif
1643927144.2 yacyr.glif
1648605865.9 yatcyr.glif
1636123476.8 yen.glif
1643927144.2 ylongcyr.glif
1643927144.2 yucyr.glif
1643927144.2 yusbigcyr.glif
1643927144.2 ze-cy.loclB_G_R_.glif
1643927144.2 zecyr.glif
1643927144.2 zhecyr.glif</string>
		</dict>
	</dict>
</plist>
