<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>22BE8BB2-9066-4EC8-8965-8BB957D93076</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Katailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstrokecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.becyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecmb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstrokecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xatailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhetailcyr</key>
      <integer>8</integer>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1648605866.0 E_fcyr.glif
1648605866.0 I_cyr.glif
1648605866.0 K_atailcyr.glif
1648605866.0 K_averticalstrokecyr.glif
1648605866.0 Z_ecyr.glif
1601315786.9 acutecomb.glif
1605116211.4 asciitilde.glif
1648605866.0 becyr.glif
1601315786.9 cedillacomb.glif
1601315786.9 circumflexcomb.glif
1648605866.0 decyr.glif
1648605866.0 efcyr.glif
1648605866.0 elcyr.glif
1648605866.0 ge-cy.loclB_G_R_.glif
1601315786.9 gravecomb.glif
1637338785.4 hookabovecmb.glif
1648605866.0 hryvnia.glif
1605116211.4 hungarumlautcmb.glif
1648605866.0 kacyr.glif
1648605866.0 kaverticalstrokecyr.glif
1601315786.9 ogonekcmb.glif
1605116211.4 percent.glif
1601315786.9 ringcomb.glif
1648605866.0 shchacyr.glif
1601315786.9 tildecomb.glif
1648605866.0 vecyr.glif
1648605866.0 xatailcyr.glif
1648605866.0 zhecyr.glif</string>
    </dict>
  </dict>
</plist>
