<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict>
        <key>B_.glif</key>
        <string>B</string>
        <key>C_.glif</key>
        <string>B</string>
        <key>E_uro.glif</key>
        <string>E</string>
        <key>J_.glif</key>
        <string>B</string>
        <key>K_.glif</key>
        <string>B</string>
        <key>L_.glif</key>
        <string>B</string>
        <key>M_.glif</key>
        <string>B</string>
        <key>P_.glif</key>
        <string>B</string>
        <key>Q_.glif</key>
        <string>B</string>
        <key>W_.glif</key>
        <string>W</string>
        <key>X_.glif</key>
        <string>W</string>
        <key>Y_.glif</key>
        <string>W</string>
        <key>Z_.glif</key>
        <string>W</string>
        <key>arrowN_E_.glif</key>
        <string>a</string>
        <key>arrowN_W_.glif</key>
        <string>a</string>
        <key>arrowS_E_.glif</key>
        <string>a</string>
        <key>arrowS_W_.glif</key>
        <string>a</string>
        <key>arrowdown.glif</key>
        <string>a</string>
        <key>arrowleft.glif</key>
        <string>a</string>
        <key>arrowright.glif</key>
        <string>a</string>
        <key>arrowup.glif</key>
        <string>a</string>
        <key>asciitilde.glif</key>
        <string>S</string>
        <key>b.glif</key>
        <string>b</string>
        <key>braceleft.glif</key>
        <string>b</string>
        <key>braceright.glif</key>
        <string>b</string>
        <key>c.glif</key>
        <string>b</string>
        <key>cedillacomb.glif</key>
        <string>S</string>
        <key>cent.glif</key>
        <string>b</string>
        <key>circumflexcomb.glif</key>
        <string>a</string>
        <key>eight.glif</key>
        <string>z</string>
        <key>five.glif</key>
        <string>z</string>
        <key>four.glif</key>
        <string>z</string>
        <key>guillemetright.glif</key>
        <string>a</string>
        <key>guilsinglright.glif</key>
        <string>a</string>
        <key>increment.glif</key>
        <string>i</string>
        <key>integral.glif</key>
        <string>i</string>
        <key>k.glif</key>
        <string>b</string>
        <key>l.glif</key>
        <string>b</string>
        <key>litre.glif</key>
        <string>l</string>
        <key>m.glif</key>
        <string>b</string>
        <key>nine.glif</key>
        <string>z</string>
        <key>one.glif</key>
        <string>z</string>
        <key>paragraph.glif</key>
        <string>p</string>
        <key>quotedblleft.glif</key>
        <string>q</string>
        <key>quoteleft.glif</key>
        <string>q</string>
        <key>quoteright.glif</key>
        <string>q</string>
        <key>radical.glif</key>
        <string>r</string>
        <key>seven.glif</key>
        <string>z</string>
        <key>six.glif</key>
        <string>z</string>
        <key>summation.glif</key>
        <string>i</string>
        <key>three.glif</key>
        <string>z</string>
        <key>tildecomb.glif</key>
        <string>S</string>
        <key>two.glif</key>
        <string>z</string>
        <key>w.glif</key>
        <string>b</string>
        <key>x.glif</key>
        <string>b</string>
        <key>y.glif</key>
        <string>b</string>
        <key>yen.glif</key>
        <string>y</string>
        <key>z.glif</key>
        <string>b</string>
        <key>zero.glif</key>
        <string>z</string>
      </dict>
    </dict>
  </dict>
</plist>
