<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>Becyr</key>
		<string>B_ecyr.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Checyr</key>
		<string>C_hecyr.glif</string>
		<key>Chekhakascyr</key>
		<string>C_hekhakascyr.glif</string>
		<key>Chetailcyr</key>
		<string>C_hetailcyr.glif</string>
		<key>Chevertcyr</key>
		<string>C_hevertcyr.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Decyr</key>
		<string>D_ecyr.glif</string>
		<key>Djecyr</key>
		<string>D_jecyr.glif</string>
		<key>Dzhecyr</key>
		<string>D_zhecyr.glif</string>
		<key>Efcyr</key>
		<string>E_fcyr.glif</string>
		<key>Elcyr</key>
		<string>E_lcyr.glif</string>
		<key>Emcyr</key>
		<string>E_mcyr.glif</string>
		<key>Encyr</key>
		<string>E_ncyr.glif</string>
		<key>Engecyr</key>
		<string>E_ngecyr.glif</string>
		<key>Entailcyr</key>
		<string>E_ntailcyr.glif</string>
		<key>Ereversedcyr</key>
		<string>E_reversedcyr.glif</string>
		<key>Estailcyr</key>
		<string>E_stailcyr.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>Gecyr</key>
		<string>G_ecyr.glif</string>
		<key>Gehookcyr</key>
		<string>G_ehookcyr.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>Getailcyr</key>
		<string>G_etailcyr.glif</string>
		<key>Geupcyr</key>
		<string>G_eupcyr.glif</string>
		<key>Ghestroke-cy.loclBSH</key>
		<string>G_hestroke-cy.loclB_S_H_.glif</string>
		<key>Hardcyr</key>
		<string>H_ardcyr.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Ishortcyr</key>
		<string>I_shortcyr.glif</string>
		<key>Izhitsacyr</key>
		<string>I_zhitsacyr.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>Kabashkcyr</key>
		<string>K_abashkcyr.glif</string>
		<key>Katailcyr</key>
		<string>K_atailcyr.glif</string>
		<key>Kaverticalstrokecyr</key>
		<string>K_averticalstrokecyr.glif</string>
		<key>Ljecyr</key>
		<string>L_jecyr.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>Palochkacyr</key>
		<string>P_alochkacyr.glif</string>
		<key>Pecyr</key>
		<string>P_ecyr.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Shacyr</key>
		<string>S_hacyr.glif</string>
		<key>Shchacyr</key>
		<string>S_hchacyr.glif</string>
		<key>Shhacyr</key>
		<string>S_hhacyr.glif</string>
		<key>Softcyr</key>
		<string>S_oftcyr.glif</string>
		<key>Tsecyr</key>
		<string>T_secyr.glif</string>
		<key>Tshecyr</key>
		<string>T_shecyr.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>Ustraightcyr</key>
		<string>U_straightcyr.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Xatailcyr</key>
		<string>X_atailcyr.glif</string>
		<key>Yacyr</key>
		<string>Y_acyr.glif</string>
		<key>Yatcyr</key>
		<string>Y_atcyr.glif</string>
		<key>Ylongcyr</key>
		<string>Y_longcyr.glif</string>
		<key>Yucyr</key>
		<string>Y_ucyr.glif</string>
		<key>Yusbigcyr</key>
		<string>Y_usbigcyr.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Zecyr</key>
		<string>Z_ecyr.glif</string>
		<key>Zetailcyr</key>
		<string>Z_etailcyr.glif</string>
		<key>Zhecyr</key>
		<string>Z_hecyr.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>arrowright</key>
		<string>arrowright.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>be-cy.loclSRB</key>
		<string>be-cy.loclS_R_B_.glif</string>
		<key>becyr</key>
		<string>becyr.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketangleleft</key>
		<string>bracketangleleft.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>brevecomb-cy</key>
		<string>brevecomb-cy.glif</string>
		<key>cedi</key>
		<string>cedi.glif</string>
		<key>check</key>
		<string>check.glif</string>
		<key>checyr</key>
		<string>checyr.glif</string>
		<key>chekhakascyr</key>
		<string>chekhakascyr.glif</string>
		<key>chetailcyr</key>
		<string>chetailcyr.glif</string>
		<key>chevertcyr</key>
		<string>chevertcyr.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>colonmonetary</key>
		<string>colonmonetary.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>de-cy.loclSRB</key>
		<string>de-cy.loclS_R_B_.glif</string>
		<key>decyr</key>
		<string>decyr.glif</string>
		<key>djecyr</key>
		<string>djecyr.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dong</key>
		<string>dong.glif</string>
		<key>doublebarvertical</key>
		<string>doublebarvertical.glif</string>
		<key>dzhecyr</key>
		<string>dzhecyr.glif</string>
		<key>efcyr</key>
		<string>efcyr.glif</string>
		<key>elcyr</key>
		<string>elcyr.glif</string>
		<key>emcyr</key>
		<string>emcyr.glif</string>
		<key>encyr</key>
		<string>encyr.glif</string>
		<key>eng</key>
		<string>eng.glif</string>
		<key>engecyr</key>
		<string>engecyr.glif</string>
		<key>entailcyr</key>
		<string>entailcyr.glif</string>
		<key>ereversedcyr</key>
		<string>ereversedcyr.glif</string>
		<key>estailcyr</key>
		<string>estailcyr.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>eukrcyr</key>
		<string>eukrcyr.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>fhook</key>
		<string>fhook.glif</string>
		<key>five.pnum</key>
		<string>five.pnum.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>ge-cy.loclBGR</key>
		<string>ge-cy.loclB_G_R_.glif</string>
		<key>ge-cy.loclSRB</key>
		<string>ge-cy.loclS_R_B_.glif</string>
		<key>gecyr</key>
		<string>gecyr.glif</string>
		<key>gehookcyr</key>
		<string>gehookcyr.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>getailcyr</key>
		<string>getailcyr.glif</string>
		<key>geupcyr</key>
		<string>geupcyr.glif</string>
		<key>ghestroke-cy.loclBSH</key>
		<string>ghestroke-cy.loclB_S_H_.glif</string>
		<key>guarani</key>
		<string>guarani.glif</string>
		<key>hardcyr</key>
		<string>hardcyr.glif</string>
		<key>heartblack</key>
		<string>heartblack.glif</string>
		<key>heartwhite</key>
		<string>heartwhite.glif</string>
		<key>hookabovecmb</key>
		<string>hookabovecmb.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hyphen.line</key>
		<string>hyphen.line.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>ii-cy.loclBGR</key>
		<string>ii-cy.loclB_G_R_.glif</string>
		<key>iishort-cy.loclBGR</key>
		<string>iishort-cy.loclB_G_R_.glif</string>
		<key>increment</key>
		<string>increment.glif</string>
		<key>indianrupee</key>
		<string>indianrupee.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>ishortcyr</key>
		<string>ishortcyr.glif</string>
		<key>iu-cy.loclBGR</key>
		<string>iu-cy.loclB_G_R_.glif</string>
		<key>izhitsacyr</key>
		<string>izhitsacyr.glif</string>
		<key>jdotless</key>
		<string>jdotless.glif</string>
		<key>ka-cy.loclBGR</key>
		<string>ka-cy.loclB_G_R_.glif</string>
		<key>kacyr</key>
		<string>kacyr.glif</string>
		<key>katailcyr</key>
		<string>katailcyr.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>kip</key>
		<string>kip.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>ljecyr</key>
		<string>ljecyr.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>naira</key>
		<string>naira.glif</string>
		<key>njecyr</key>
		<string>njecyr.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>one.pnum</key>
		<string>one.pnum.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>palochkacyr</key>
		<string>palochkacyr.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenleft.case</key>
		<string>parenleft.case.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>pe-cy.loclSRB</key>
		<string>pe-cy.loclS_R_B_.glif</string>
		<key>pecyr</key>
		<string>pecyr.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>ringcomb</key>
		<string>ringcomb.glif</string>
		<key>ruble</key>
		<string>ruble.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>second</key>
		<string>second.glif</string>
		<key>sha-cy.loclBGR</key>
		<string>sha-cy.loclB_G_R_.glif</string>
		<key>shacyr</key>
		<string>shacyr.glif</string>
		<key>shcha-cy.loclBGR</key>
		<string>shcha-cy.loclB_G_R_.glif</string>
		<key>shchacyr</key>
		<string>shchacyr.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>softcyr</key>
		<string>softcyr.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>te-cy.loclSRB</key>
		<string>te-cy.loclS_R_B_.glif</string>
		<key>tecyr</key>
		<string>tecyr.glif</string>
		<key>tenge</key>
		<string>tenge.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>trianglerightblack</key>
		<string>trianglerightblack.glif</string>
		<key>tse-cy.loclBGR</key>
		<string>tse-cy.loclB_G_R_.glif</string>
		<key>tsecyr</key>
		<string>tsecyr.glif</string>
		<key>tugrik</key>
		<string>tugrik.glif</string>
		<key>turkishlira</key>
		<string>turkishlira.glif</string>
		<key>uhorn</key>
		<string>uhorn.glif</string>
		<key>ushortcyr</key>
		<string>ushortcyr.glif</string>
		<key>ustraightcyr</key>
		<string>ustraightcyr.glif</string>
		<key>ve-cy.loclBGR</key>
		<string>ve-cy.loclB_G_R_.glif</string>
		<key>vecyr</key>
		<string>vecyr.glif</string>
		<key>won</key>
		<string>won.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>xatailcyr</key>
		<string>xatailcyr.glif</string>
		<key>yacyr</key>
		<string>yacyr.glif</string>
		<key>yatcyr</key>
		<string>yatcyr.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>ylongcyr</key>
		<string>ylongcyr.glif</string>
		<key>yucyr</key>
		<string>yucyr.glif</string>
		<key>yusbigcyr</key>
		<string>yusbigcyr.glif</string>
		<key>ze-cy.loclBGR</key>
		<string>ze-cy.loclB_G_R_.glif</string>
		<key>zecyr</key>
		<string>zecyr.glif</string>
		<key>zetailcyr</key>
		<string>zetailcyr.glif</string>
		<key>zhe-cy.loclBGR</key>
		<string>zhe-cy.loclB_G_R_.glif</string>
		<key>zhecyr</key>
		<string>zhecyr.glif</string>
		<key>zhetailcyr</key>
		<string>zhetailcyr.glif</string>
	</dict>
</plist>
