<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>C</key>
		<string>C_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>ringcomb</key>
		<string>ringcomb.glif</string>
		<key>second</key>
		<string>second.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
	</dict>
</plist>
