<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>87234B38-16F4-4CA1-8928-84317B013084</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chekhakascyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chetailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chevertcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzhecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Encyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Engecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Entailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ereversedcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Estailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gehookcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Getailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Geupcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghestroke-cy.loclBSH</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ishortcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kabashkcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Katailcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstrokecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ljecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Palochkacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shchacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shhacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tshecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ustraightcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Xatailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yatcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ylongcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbigcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zetailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowdown</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowright</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.becyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketangleleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.check</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.checyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chekhakascyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chetailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chevertcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy.loclSRB</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.djecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzhecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.engecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.entailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eukrcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.pnum</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclSRB</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gehookcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.getailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.geupcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghestroke-cy.loclBSH</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heartblack</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heartwhite</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.line</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishort-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.increment</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.integral</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ishortcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iu-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.katailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstrokecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.litre</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ljecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu.math</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.njecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.pnum</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.palochkacyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.case</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-cy.loclSRB</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.te-cy.loclSRB</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tse-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ushortcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraightcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vecyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xatailcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yatcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbigcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zecyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zetailcyr</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy.loclBGR</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhetailcyr</key>
      <integer>9</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict>
        <key>becyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.49.55.png</string>
        <key>decyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.23.png</string>
        <key>efcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.59.25.png</string>
        <key>elcyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.40.png</string>
        <key>emcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 11.18.04.png</string>
        <key>encyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.33.58.png</string>
        <key>ereversedcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.05.png</string>
        <key>gecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.59.01.png</string>
        <key>hardcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>icyr.glif</key>
        <string>S_creenshot 2021-10-15 at 15.01.07.png</string>
        <key>shacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.22.24.png</string>
        <key>shchacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.22.27.png</string>
        <key>softcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>tecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.16.png</string>
        <key>vecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.59.17.png</string>
        <key>yacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.10.png</string>
        <key>ylongcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>yucyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.08.png</string>
        <key>zecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.32.png</string>
        <key>zhecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.28.png</string>
      </dict>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1636123476.8 A_E_.glif
1637338785.4 B_.glif
1643927144.2 B_ecyr.glif
1637338785.4 C_.glif
1643927144.2 C_hecyr.glif
1643927144.2 C_hekhakascyr.glif
1643927144.2 C_hetailcyr.glif
1643927144.2 C_hevertcyr.glif
1636123476.8 D_.glif
1648605865.9 D_ecyr.glif
1648605865.9 D_jecyr.glif
1648605865.9 D_zhecyr.glif
1648605865.9 E_fcyr.glif
1643927144.2 E_lcyr.glif
1643927144.2 E_mcyr.glif
1636125424.3 E_ncyr.glif
1643927144.2 E_ngecyr.glif
1643927144.2 E_ntailcyr.glif
1643927144.2 E_reversedcyr.glif
1643927144.2 E_stailcyr.glif
1636123476.8 E_uro.glif
1636123476.8 F_.glif
1643927144.2 G_ecyr.glif
1643927144.2 G_ehookcyr.glif
1636123476.8 G_ermandbls.glif
1648605865.9 G_etailcyr.glif
1643927144.2 G_eupcyr.glif
1643927144.2 G_hestroke-cy.loclB_S_H_.glif
1643927144.2 H_ardcyr.glif
1636123476.8 I_.glif
1636125424.3 I_cyr.glif
1638203364.5 I_shortcyr.glif
1643927144.2 I_zhitsacyr.glif
1637338785.4 K_.glif
1643927144.2 K_abashkcyr.glif
1643927144.2 K_atailcyr.glif
1643927144.2 K_averticalstrokecyr.glif
1648605865.9 L_jecyr.glif
1636123476.8 M_.glif
1636123476.8 O_E_.glif
1636123476.8 O_mega.glif
1643927144.2 P_alochkacyr.glif
1637338785.4 P_ecyr.glif
1636123476.8 R_.glif
1636125424.3 S_hacyr.glif
1636125424.3 S_hchacyr.glif
1643927144.2 S_hhacyr.glif
1643927144.2 S_oftcyr.glif
1636125424.3 T_secyr.glif
1648605865.9 T_shecyr.glif
1643927144.2 U_cyr.glif
1643927144.2 U_straightcyr.glif
1636123476.8 W_.glif
1636123476.8 X_.glif
1643927144.2 X_atailcyr.glif
1636125424.3 Y_acyr.glif
1648605865.9 Y_atcyr.glif
1643927144.2 Y_longcyr.glif
1636125424.3 Y_ucyr.glif
1643927144.2 Y_usbigcyr.glif
1636123476.8 Z_.glif
1643927144.2 Z_ecyr.glif
1643927144.2 Z_etailcyr.glif
1636125424.3 Z_hecyr.glif
1636123476.8 ae.glif
1636123476.8 ampersand.glif
1636123476.8 approxequal.glif
1636123476.8 arrowdown.glif
1636123476.8 arrowleft.glif
1636123476.8 arrowright.glif
1636123476.8 asciitilde.glif
1636123476.8 asterisk.glif
1636123476.8 at.glif
1636123476.8 backslash.glif
1643927144.2 be-cy.loclS_R_B_.glif
1643927144.2 becyr.glif
1636123476.8 braceleft.glif
1636123476.8 braceright.glif
1636123476.8 bracketangleleft.glif
1636123476.8 bracketleft.glif
1636123476.8 bracketright.glif
1643927144.2 brevecomb-cy.glif
1643927144.2 cedi.glif
1636123476.8 check.glif
1643927144.2 checyr.glif
1643927144.2 chekhakascyr.glif
1643927144.2 chetailcyr.glif
1643927144.2 chevertcyr.glif
1636123476.8 circumflexcomb.glif
1643927144.2 colonmonetary.glif
1636123476.8 comma.glif
1636125424.3 decyr.glif
1643927144.2 djecyr.glif
1636123476.8 dollar.glif
1643927144.2 dong.glif
1643927144.2 dzhecyr.glif
1636125424.3 efcyr.glif
1643927144.2 elcyr.glif
1643927144.2 emcyr.glif
1636125424.3 encyr.glif
1636123476.8 eng.glif
1643927144.2 engecyr.glif
1643927144.2 entailcyr.glif
1636125424.3 ereversedcyr.glif
1643927144.2 estailcyr.glif
1636123476.8 eth.glif
1643927144.2 eukrcyr.glif
1636123476.8 f.glif
1636123476.8 fhook.glif
1636123476.8 five.pnum.glif
1636123476.8 fraction.glif
1643927144.2 ge-cy.loclB_G_R_.glif
1643927144.2 gecyr.glif
1648605865.9 gehookcyr.glif
1636123476.8 germandbls.glif
1643927144.2 getailcyr.glif
1643927144.2 geupcyr.glif
1643927144.2 ghestroke-cy.loclB_S_H_.glif
1643927144.2 guarani.glif
1643927144.2 hardcyr.glif
1636123476.8 heartblack.glif
1636123476.8 heartwhite.glif
1643927144.2 hryvnia.glif
1636123476.8 hungarumlautcmb.glif
1636123476.8 hyphen.line.glif
1636125424.3 icyr.glif
1643927144.2 ii-cy.loclB_G_R_.glif
1643927144.2 iishort-cy.loclB_G_R_.glif
1636123476.8 increment.glif
1643927144.2 indianrupee.glif
1636123476.8 infinity.glif
1636123476.8 integral.glif
1638203364.5 ishortcyr.glif
1643927144.2 iu-cy.loclB_G_R_.glif
1643927144.2 izhitsacyr.glif
1636123476.8 jdotless.glif
1643927144.2 ka-cy.loclB_G_R_.glif
1643927144.2 kacyr.glif
1643927144.2 katailcyr.glif
1643927144.2 katailcyr.ss01.glif
1643927144.2 kaverticalstrokecyr.glif
1643927144.2 kip.glif
1636123476.8 l.glif
1636123476.8 less.glif
1636123476.8 litre.glif
1643927144.2 ljecyr.glif
1636123476.8 lozenge.glif
1643927144.2 manat.glif
1636123476.8 mu.math.glif
1636123476.8 multiply.glif
1643927144.2 naira.glif
1643927144.2 njecyr.glif
1643927144.2 numero.glif
1636123476.8 one.pnum.glif
1636123476.8 oslash.glif
1643927144.2 palochkacyr.glif
1636123476.8 paragraph.glif
1636123476.8 parenleft.case.glif
1636123476.8 parenleft.glif
1636123476.8 parenright.glif
1636123476.8 partialdiff.glif
1643927144.2 pecyr.glif
1636123476.8 perthousand.glif
1643927144.2 peso.glif
1636123476.8 question.glif
1636123476.8 quotedblleft.glif
1636123476.8 radical.glif
1636123476.8 ringcomb.glif
1643927144.2 ruble.glif
1643927151.2 schwa.glif
1636123476.8 second.glif
1643927144.2 sha-cy.loclB_G_R_.glif
1636125424.3 shacyr.glif
1643927144.2 shcha-cy.loclB_G_R_.glif
1638203364.5 shchacyr.glif
1636123476.8 slash.glif
1643927144.2 softcyr.glif
1636123476.8 sterling.glif
1636123476.8 summation.glif
1643927144.2 tecyr.glif
1643927144.2 tenge.glif
1636123476.8 tildecomb.glif
1636123476.8 trademark.glif
1643927144.2 tse-cy.loclB_G_R_.glif
1648605865.9 tsecyr.glif
1643927144.2 tugrik.glif
1643927144.2 turkishlira.glif
1637338785.4 uhorn.glif
1643927144.2 ustraightcyr.glif
1643927151.2 ve-cy.loclB_G_R_.glif
1643927144.2 vecyr.glif
1643927144.2 won.glif
1636123476.8 x.glif
1643927144.2 xatailcyr.glif
1636125424.4 yacyr.glif
1648605865.9 yatcyr.glif
1636123476.8 yen.glif
1643927144.2 ylongcyr.glif
1636125424.4 yucyr.glif
1643927144.2 yusbigcyr.glif
1643927144.2 ze-cy.loclB_G_R_.glif
1643927144.2 zecyr.glif
1643927144.2 zetailcyr.glif
1643927144.2 zhe-cy.loclB_G_R_.glif
1643927144.2 zhecyr.glif
1648605865.9 zhetailcyr.glif</string>
    </dict>
  </dict>
</plist>
