<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict>
        <key>becyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.49.55.png</string>
        <key>decyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.23.png</string>
        <key>efcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.59.25.png</string>
        <key>elcyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.40.png</string>
        <key>emcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 11.18.04.png</string>
        <key>encyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.33.58.png</string>
        <key>ereversedcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.05.png</string>
        <key>gecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.59.01.png</string>
        <key>hardcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>icyr.glif</key>
        <string>S_creenshot 2021-10-15 at 15.01.07.png</string>
        <key>shacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.22.24.png</string>
        <key>shchacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.22.27.png</string>
        <key>softcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>tecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.16.png</string>
        <key>vecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 10.59.17.png</string>
        <key>yacyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.10.png</string>
        <key>ylongcyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.01.png</string>
        <key>yucyr.glif</key>
        <string>S_creenshot 2021-10-22 at 12.23.08.png</string>
        <key>zecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.32.png</string>
        <key>zhecyr.glif</key>
        <string>S_creenshot 2021-10-21 at 17.50.28.png</string>
      </dict>
    </dict>
  </dict>
</plist>
