<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>becyr.glif</key>
				<string>S</string>
				<key>decyr.glif</key>
				<string>S</string>
				<key>efcyr.glif</key>
				<string>S</string>
				<key>elcyr.glif</key>
				<string>S</string>
				<key>emcyr.glif</key>
				<string>S</string>
				<key>encyr.glif</key>
				<string>S</string>
				<key>ereversedcyr.glif</key>
				<string>S</string>
				<key>gecyr.glif</key>
				<string>S</string>
				<key>hardcyr.glif</key>
				<string>S</string>
				<key>icyr.glif</key>
				<string>S</string>
				<key>pecyr.glif</key>
				<string>S</string>
				<key>shacyr.glif</key>
				<string>S</string>
				<key>shchacyr.glif</key>
				<string>S</string>
				<key>softcyr.glif</key>
				<string>S</string>
				<key>tecyr.glif</key>
				<string>S</string>
				<key>vecyr.glif</key>
				<string>S</string>
				<key>yacyr.glif</key>
				<string>S</string>
				<key>ylongcyr.glif</key>
				<string>S</string>
				<key>yucyr.glif</key>
				<string>S</string>
				<key>zecyr.glif</key>
				<string>S</string>
				<key>zhecyr.glif</key>
				<string>S</string>
			</dict>
		</dict>
	</dict>
</plist>
