<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dollar.tabl</key>
		<string>dollar.tabl.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
	</dict>
</plist>
