<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>5FA27709-68CA-47DE-B57D-DEE8A333520E</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Emcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.K</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.M</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.N</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.P</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.R</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ucyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.W</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ylongcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yusbigcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.a</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.at</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.b</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.c</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.checyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.d</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.five</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.four</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ishortcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.j</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.k</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.m</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.njecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.p</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.six</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.three</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tse-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tshecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.two</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.w</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.x</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
			<integer>13</integer>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<integer>1</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
