<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0.75,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>asterisk.glif</key>
				<string>a</string>
				<key>bracketleft.glif</key>
				<string>p</string>
				<key>bracketright.glif</key>
				<string>p</string>
				<key>numbersign.glif</key>
				<string>n</string>
				<key>parenleft.glif</key>
				<string>p</string>
				<key>parenright.glif</key>
				<string>p</string>
			</dict>
		</dict>
	</dict>
</plist>
