<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0.75,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<false/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>B_.glif</key>
				<string>B_.png</string>
				<key>C_.glif</key>
				<string>B_.png</string>
				<key>E_uro.glif</key>
				<string>E_uro.png</string>
				<key>J_.glif</key>
				<string>B_.png</string>
				<key>K_.glif</key>
				<string>B_.png</string>
				<key>L_.glif</key>
				<string>B_.png</string>
				<key>M_.glif</key>
				<string>B_.png</string>
				<key>P_.glif</key>
				<string>B_.png</string>
				<key>Q_.glif</key>
				<string>B_.png</string>
				<key>W_.glif</key>
				<string>W_.png</string>
				<key>X_.glif</key>
				<string>W_.png</string>
				<key>Y_.glif</key>
				<string>W_.png</string>
				<key>Z_.glif</key>
				<string>W_.png</string>
				<key>arrowN_E_.glif</key>
				<string>arrowup.png</string>
				<key>arrowN_W_.glif</key>
				<string>arrowup.png</string>
				<key>arrowS_E_.glif</key>
				<string>arrowup.png</string>
				<key>arrowS_W_.glif</key>
				<string>arrowup.png</string>
				<key>arrowdown.glif</key>
				<string>arrowup.png</string>
				<key>arrowleft.glif</key>
				<string>arrowleft.png</string>
				<key>arrowright.glif</key>
				<string>arrowleft.png</string>
				<key>arrowup.glif</key>
				<string>arrowup.png</string>
				<key>asciitilde.glif</key>
				<string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
				<key>b.glif</key>
				<string>b.png</string>
				<key>braceleft.glif</key>
				<string>braceleft.png</string>
				<key>braceright.glif</key>
				<string>braceleft.png</string>
				<key>c.glif</key>
				<string>b.png</string>
				<key>cedillacomb.glif</key>
				<string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
				<key>cent.glif</key>
				<string>b.png</string>
				<key>check.glif</key>
				<string>check.png</string>
				<key>circumflexcomb.glif</key>
				<string>accents.png</string>
				<key>eight.glif</key>
				<string>zero.png</string>
				<key>five.glif</key>
				<string>zero.png</string>
				<key>four.glif</key>
				<string>zero.png</string>
				<key>guillemetright.glif</key>
				<string>arrowleft.png</string>
				<key>guilsinglright.glif</key>
				<string>arrowleft.png</string>
				<key>increment.glif</key>
				<string>increment.png</string>
				<key>integral.glif</key>
				<string>integral.png</string>
				<key>k.glif</key>
				<string>b.png</string>
				<key>l.glif</key>
				<string>b.png</string>
				<key>litre.glif</key>
				<string>litre.png</string>
				<key>m.glif</key>
				<string>b.png</string>
				<key>nine.glif</key>
				<string>zero.png</string>
				<key>one.glif</key>
				<string>zero.png</string>
				<key>paragraph.glif</key>
				<string>paragraph.png</string>
				<key>quotedblleft.glif</key>
				<string>quoteleft.png</string>
				<key>quoteleft.glif</key>
				<string>quoteleft.png</string>
				<key>quoteright.glif</key>
				<string>quoteleft.png</string>
				<key>radical.glif</key>
				<string>radical000000000000001.png</string>
				<key>seven.glif</key>
				<string>zero.png</string>
				<key>six.glif</key>
				<string>zero.png</string>
				<key>summation.glif</key>
				<string>integral.png</string>
				<key>three.glif</key>
				<string>zero.png</string>
				<key>tildecomb.glif</key>
				<string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
				<key>two.glif</key>
				<string>zero.png</string>
				<key>vecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 10.59.17.png</string>
				<key>w.glif</key>
				<string>b.png</string>
				<key>x.glif</key>
				<string>b.png</string>
				<key>y.glif</key>
				<string>b.png</string>
				<key>yen.glif</key>
				<string>yen.png</string>
				<key>z.glif</key>
				<string>b.png</string>
				<key>zero.glif</key>
				<string>zero.png</string>
			</dict>
		</dict>
	</dict>
</plist>
