<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict>
        <key>E_uro.glif</key>
        <string>E_uro.png</string>
        <key>O_mega.glif</key>
        <string>O_mega.png</string>
        <key>approxequal.glif</key>
        <string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
        <key>arrowN_W_.glif</key>
        <string>arrowup.png</string>
        <key>arrowS_E_.glif</key>
        <string>arrowup.png</string>
        <key>arrowS_W_.glif</key>
        <string>arrowup.png</string>
        <key>asciitilde.glif</key>
        <string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
        <key>asterisk.glif</key>
        <string>asterisk000000000000001.png</string>
        <key>braceleft.glif</key>
        <string>braceleft000000000000001.png</string>
        <key>braceright.glif</key>
        <string>parenleft.png</string>
        <key>bracketleft.glif</key>
        <string>parenleft.png</string>
        <key>bracketright.glif</key>
        <string>parenleft.png</string>
        <key>cedillacomb.glif</key>
        <string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
        <key>check.glif</key>
        <string>check.png</string>
        <key>circumflexcomb.glif</key>
        <string>accents.png</string>
        <key>heartwhite.glif</key>
        <string>heartwhite.png</string>
        <key>numbersign.glif</key>
        <string>numbersign.png</string>
        <key>parenleft.glif</key>
        <string>parenleft.png</string>
        <key>parenright.glif</key>
        <string>parenleft.png</string>
        <key>quoteleft.glif</key>
        <string>quoteleft.png</string>
        <key>quoteright.glif</key>
        <string>quoteleft.png</string>
        <key>tildecomb.glif</key>
        <string>S_creen S_hot 2020-09-24 at 10.58.01 P_M_.png</string>
      </dict>
    </dict>
  </dict>
</plist>
