<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.tabl</key>
    <string>dollar.tabl.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>heartblack</key>
    <string>heartblack.glif</string>
    <key>heartwhite</key>
    <string>heartwhite.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>litre</key>
    <string>litre.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>mu.math</key>
    <string>mu.math.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
