<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>E61385E5-7ADA-4F99-8C00-F0CD171F640D</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.A</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Becyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.C</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Checyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chekhakascyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chetailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Chevertcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Decyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Djecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Dzhecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Efcyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Elcyr</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Emcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Encyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Engecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Entailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ereversedcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Estailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
			<integer>13</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.F</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Gehookcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Getailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Geupcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ghestroke-cy.loclBSH</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Hardcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Icyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ishortcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Izhitsacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Kabashkcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Katailcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstrokecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.L</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ljecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Palochkacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Pecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.R</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shacyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shchacyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Shhacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Softcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tsecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Tshecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ucyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ustraightcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.W</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Xatailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yacyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yatcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ylongcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yucyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Yusbigcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zecyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zetailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Zhecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.arrowdown</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.arrowleft</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.arrowright</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.at</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.becyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.check</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.checyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chekhakascyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chetailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.chevertcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.de-cy.loclSRB</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.decyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.djecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcmb</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.doublebarvertical</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.dzhecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.efcyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.elcyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.emcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.encyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.engecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.entailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ereversedcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.estailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eukrcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.f</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.five.pnum</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclSRB</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.gehookcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.getailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.geupcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ghestroke-cy.loclBSH</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hardcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.heartblack</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.heartwhite</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.hyphen.line</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.icyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ii-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.iishort-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.increment</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.integral</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ishortcyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.iu-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.izhitsacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ka-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kacyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.katailcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstrokecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.less</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.litre</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ljecyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.macroncomb</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.mu.math</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.njecyr</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.one.pnum</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.palochkacyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.parenleft.case</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pe-cy.loclSRB</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.pecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.period</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.question</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.schwacyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.second</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.sha-cy.loclBGR</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shacyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy.loclBGR</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.shchacyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.softcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.te-cy.loclSRB</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tenge</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.trianglerightblack</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tse-cy.loclBGR</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tsecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.tugrik</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ushortcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ustraightcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ustraightstrokecyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.vecyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.w</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.won</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.x</key>
			<integer>11</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.xatailcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yacyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yatcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ylongcyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yucyr</key>
			<integer>12</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yukrcyr</key>
			<integer>8</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yukrcyr_yukrcyr</key>
			<integer>4</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yusbigcyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zecyr</key>
			<integer>10</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zetailcyr</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy.loclBGR</key>
			<integer>9</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhecyr</key>
			<integer>14</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zhetailcyr</key>
			<integer>11</integer>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<integer>0</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>becyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.49.55.png</string>
				<key>decyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.50.23.png</string>
				<key>efcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.59.25.png</string>
				<key>elcyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.50.40.png</string>
				<key>emcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 11.18.04.png</string>
				<key>encyr.glif</key>
				<string>S_creenshot 2021-10-21 at 10.33.58.png</string>
				<key>ereversedcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.05.png</string>
				<key>gecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 10.59.01.png</string>
				<key>hardcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.01.png</string>
				<key>icyr.glif</key>
				<string>S_creenshot 2021-10-15 at 15.01.07.png</string>
				<key>shacyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.22.24.png</string>
				<key>shchacyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.22.27.png</string>
				<key>softcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.01.png</string>
				<key>tecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.50.16.png</string>
				<key>vecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 10.59.17.png</string>
				<key>yacyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.10.png</string>
				<key>ylongcyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.01.png</string>
				<key>yucyr.glif</key>
				<string>S_creenshot 2021-10-22 at 12.23.08.png</string>
				<key>zecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.50.32.png</string>
				<key>zhecyr.glif</key>
				<string>S_creenshot 2021-10-21 at 17.50.28.png</string>
			</dict>
		</dict>
	</dict>
</plist>
