<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>arrowleftright</key>
		<string>arrowleftright.glif</string>
		<key>arrowupdown</key>
		<string>arrowupdown.glif</string>
		<key>brevehookabovecomb</key>
		<string>brevehookabovecomb.glif</string>
		<key>circleblack</key>
		<string>circleblack.glif</string>
		<key>circumflexacutecomb</key>
		<string>circumflexacutecomb.glif</string>
		<key>circumflexgravecomb</key>
		<string>circumflexgravecomb.glif</string>
		<key>circumflexhookabovecomb</key>
		<string>circumflexhookabovecomb.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>guillemetleft</key>
		<string>guillemetleft.glif</string>
		<key>guillemetright</key>
		<string>guillemetright.glif</string>
		<key>kra</key>
		<string>kra.glif</string>
		<key>lari</key>
		<string>lari.glif</string>
		<key>newsheqel</key>
		<string>newsheqel.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>rupee</key>
		<string>rupee.glif</string>
		<key>zero.dnom</key>
		<string>zero.dnom.glif</string>
	</dict>
</plist>
