<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dzhecyr</key>
	<string>D_zhecyr.glif</string>
	<key>Geupcyr</key>
	<string>G_eupcyr.glif</string>
	<key>Icyr</key>
	<string>I_cyr.glif</string>
	<key>arrowNW</key>
	<string>arrowN_W_.glif</string>
	<key>arrowSE</key>
	<string>arrowS_E_.glif</string>
	<key>arrowSW</key>
	<string>arrowS_W_.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>circleblack</key>
	<string>circleblack.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>fhook</key>
	<string>fhook.glif</string>
	<key>ge-cy.loclBGR</key>
	<string>ge-cy.loclB_G_R_.glif</string>
	<key>geupcyr</key>
	<string>geupcyr.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>lari</key>
	<string>lari.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>newsheqel</key>
	<string>newsheqel.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>trianglerightblack</key>
	<string>trianglerightblack.glif</string>
	<key>ustraightcyr</key>
	<string>ustraightcyr.glif</string>
	<key>ustraightstrokecyr</key>
	<string>ustraightstrokecyr.glif</string>
</dict>
</plist>
