<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Becyr</key>
		<string>B_ecyr.glif</string>
		<key>Checyr</key>
		<string>C_hecyr.glif</string>
		<key>Chekhakascyr</key>
		<string>C_hekhakascyr.glif</string>
		<key>Chetailcyr</key>
		<string>C_hetailcyr.glif</string>
		<key>Decyr</key>
		<string>D_ecyr.glif</string>
		<key>Djecyr</key>
		<string>D_jecyr.glif</string>
		<key>Efcyr</key>
		<string>E_fcyr.glif</string>
		<key>Elcyr</key>
		<string>E_lcyr.glif</string>
		<key>Encyr</key>
		<string>E_ncyr.glif</string>
		<key>Ereversedcyr</key>
		<string>E_reversedcyr.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>Gecyr</key>
		<string>G_ecyr.glif</string>
		<key>Gehookcyr</key>
		<string>G_ehookcyr.glif</string>
		<key>Hardcyr</key>
		<string>H_ardcyr.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Katailcyr</key>
		<string>K_atailcyr.glif</string>
		<key>Pecyr</key>
		<string>P_ecyr.glif</string>
		<key>Shacyr</key>
		<string>S_hacyr.glif</string>
		<key>Shchacyr</key>
		<string>S_hchacyr.glif</string>
		<key>Softcyr</key>
		<string>S_oftcyr.glif</string>
		<key>Tsecyr</key>
		<string>T_secyr.glif</string>
		<key>Xatailcyr</key>
		<string>X_atailcyr.glif</string>
		<key>Yacyr</key>
		<string>Y_acyr.glif</string>
		<key>Yucyr</key>
		<string>Y_ucyr.glif</string>
		<key>Yusbigcyr</key>
		<string>Y_usbigcyr.glif</string>
		<key>Zecyr</key>
		<string>Z_ecyr.glif</string>
		<key>Zhecyr</key>
		<string>Z_hecyr.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>becyr</key>
		<string>becyr.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>chekhakascyr</key>
		<string>chekhakascyr.glif</string>
		<key>chetailcyr</key>
		<string>chetailcyr.glif</string>
		<key>decyr</key>
		<string>decyr.glif</string>
		<key>djecyr</key>
		<string>djecyr.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>efcyr</key>
		<string>efcyr.glif</string>
		<key>elcyr</key>
		<string>elcyr.glif</string>
		<key>emcyr</key>
		<string>emcyr.glif</string>
		<key>encyr</key>
		<string>encyr.glif</string>
		<key>entailcyr</key>
		<string>entailcyr.glif</string>
		<key>ereversedcyr</key>
		<string>ereversedcyr.glif</string>
		<key>estailcyr</key>
		<string>estailcyr.glif</string>
		<key>eukrcyr</key>
		<string>eukrcyr.glif</string>
		<key>ge-cy.loclBGR</key>
		<string>ge-cy.loclB_G_R_.glif</string>
		<key>gehookcyr</key>
		<string>gehookcyr.glif</string>
		<key>getailcyr</key>
		<string>getailcyr.glif</string>
		<key>geupcyr</key>
		<string>geupcyr.glif</string>
		<key>hardcyr</key>
		<string>hardcyr.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>kacyr</key>
		<string>kacyr.glif</string>
		<key>katailcyr</key>
		<string>katailcyr.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>pecyr</key>
		<string>pecyr.glif</string>
		<key>sha-cy.loclBGR</key>
		<string>sha-cy.loclB_G_R_.glif</string>
		<key>shacyr</key>
		<string>shacyr.glif</string>
		<key>shcha-cy.loclBGR</key>
		<string>shcha-cy.loclB_G_R_.glif</string>
		<key>shchacyr</key>
		<string>shchacyr.glif</string>
		<key>softcyr</key>
		<string>softcyr.glif</string>
		<key>tecyr</key>
		<string>tecyr.glif</string>
		<key>tsecyr</key>
		<string>tsecyr.glif</string>
		<key>ve-cy.loclBGR</key>
		<string>ve-cy.loclB_G_R_.glif</string>
		<key>vecyr</key>
		<string>vecyr.glif</string>
		<key>xatailcyr</key>
		<string>xatailcyr.glif</string>
		<key>yacyr</key>
		<string>yacyr.glif</string>
		<key>yatcyr</key>
		<string>yatcyr.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>ylongcyr</key>
		<string>ylongcyr.glif</string>
		<key>yucyr</key>
		<string>yucyr.glif</string>
		<key>yusbigcyr</key>
		<string>yusbigcyr.glif</string>
		<key>ze-cy.loclBGR</key>
		<string>ze-cy.loclB_G_R_.glif</string>
		<key>zecyr</key>
		<string>zecyr.glif</string>
		<key>zhecyr</key>
		<string>zhecyr.glif</string>
	</dict>
</plist>
