<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
	</dict>
</plist>
